[2018-12-15 17:04] gregf opened #1 "[Feature Request] Tab complete stored locations"
I would like to be able to hit `z [tab]` and get a list of paths I been to. Currently it just displays directories/files in the current path. This would be in line with z and fasd.

[2018-12-15 19:37] gregf commented on #1
Running zsh -f and sourcing zsh-z.plugin.zsh fixed the issue. This is my completion.zsh i source in my zshrc file. Could you tell me what the issue is because I have no idea? Thank you so much.

[code]

[2018-12-15 19:38] gregf commented on #1
Maybe something wrong in here too?

[code]

[2018-12-15 21:34] agkozak commented on #1
Cool dotfiles! I'll have to borrow some things from those.

Interestingly, I can run `zsh -f` and then source both of those files and `zsh-z` and everything is perfectly perfect. It must be some other part of your `.zshrc` and the files it sources. I recommend that you try commenting out all of the files your `.zshrc` includes using `.` or `source` and then see if `zsh-z` completion works. If it d

[2018-12-16 00:46] agkozak commented on #1
I've just discovered that there's a similar problem with tab completion not working with the `zgen` and `zplug` frameworks. I'll get to the bottom of this and let you know what I find out.

[2018-12-16 01:42] agkozak commented on #1
I've created a branch called `completions` that now works with `zgen` but not yet with `zplug`. You may try it if you like. I'll keep you updated.

[2018-12-16 05:54] agkozak commented on #1
I've got the changes on the master branch now. See if they help you.

[2018-12-16 17:48] z0rc opened #2 "Use add-zsh-hook"
Instead of doing
https://github.com/agkozak/zsh-z/blob/7997b35162f8308cbbe5f07d53d30bea75314bb4/zsh-z.plugin.zsh#L536-L545
You can autoload and call [add-zsh-hook](https://github.com/zsh-users/zsh/blob/master/Functions/Misc/add-zsh-hook) to handle this.

[2018-12-16 20:46] gregf commented on #1
I do use zplug, I just updated and it's still not working how it should. I'll try to find some time to debug this myself soon. Thanks for your help.

[2018-12-16 22:58] agkozak commented on #2
You're right! It's much more elegant to do it that way, and it works on ZSH v4.3.11, which is the oldest version I'm supporting.

I've pushed [a commit](https://github.com/agkozak/zsh-z/commit/e3a36624a7324ab73cc2d828fa8964325384faa0) for this to the `develop` branch; it should be on master soon.

Thank you so much for contributing your idea.

[2018-12-16 22:58] #2 closed

[2018-12-16 23:02] agkozak commented on #1
I found that, after I added

    zplug "agkozak/zsh-z"

to my `.zshrc`, I had to run

    zplug install
    zplug load

[2018-12-19 11:36] gregf commented on #1
Sorry for the delays on my response, I been super busy. I tracked down to my ~/.zsh/options.zsh file. Then down to one specific setting from there.

Enabling this line stops z from tab completing.
[code]

Not a big deal to me if I have it on so I just turned it off for now. Thanks for  your help. Maybe you can get things so they will work together in the future.

[2018-12-19 11:41] gregf commented on #1
Figured it may be useful to see the rest of my options to too so you can see what might be being used in the wild?

[code]

[2018-12-19 16:31] agkozak commented on #1
OK - I just pushed a new commit with a fix for that. Give it a try.

[2018-12-19 17:31] gregf commented on #1
I just did zplug update it pulled in the update, but when that setopt is on it still doesn't work.

[2018-12-19 18:13] agkozak commented on #1
Here's what worked for me experimenting with `zplug`. I changed my `.zshrc` to `setopt COMPLETE_ALIASES`, just like yours, and completion with `z` didn't work. I ran `zplug update`, just like you  -- still no luck. Then I ran

    zplug clear
    zplug load

to clear `zplug`'s cache and load the plugins afresh. That worked. Give it a try and let me know if it worked for you.

For the record, here'

[2018-12-19 18:40] gregf commented on #1
I ran the whole `zplug clear` and `zplug load` thing now it's resolved. Thanks for all the work you put into this. Great little plugin.

[2018-12-19 18:40] #1 closed

[2018-12-19 18:59] agkozak commented on #1
Thanks so much for patiently trying my suggestions. You were very helpful.

[2019-01-07 16:51] z0rc opened #3 "`z -l` output format compatability"
I tried to enable [fzf-z](https://github.com/andrewferrier/fzf-z) with this plugin. But seems it isn't quite compatible. There is one issue where fzf-z expects `z -l` output to show rank with `.` delimiter, where this plugin uses `,`. See sed match from https://github.com/andrewferrier/fzf-z/blob/master/fzf-z.plugin.zsh#L54

[2019-01-07 17:49] agkozak commented on #3
You've identified the problem quite well - it's a simple problem of locale. Your machine is probably set up to display decimal fractions with a comma, and ZSH-z respects that.

I'll try out `fzf-z` later today and come up with a fix or workaround for you.

[2019-01-07 18:39] z0rc commented on #3
Interesting. Can you point me to where zsh-z uses locale's number formatting? I might be able to fix this on my side.

[2019-01-07 22:35] agkozak commented on #3
Try putting

    alias z='LC_ALL=C zshz 2>&1'

into your `.zshrc` file, somewhere below where you source or load the ZSH-z plugin. That will make the `z` alias override the system's default preferences. Let me know if that works; it did for me.

The problem arises in [a `printf` statement](https://github.com/agkozak/zsh-z/blob/3b0be0e0b91097e4e7b8ecc1938352ad3e702a49/zsh-z.plugin.zsh#L384), I thin

[2019-01-08 10:21] z0rc commented on #3
Awesome. I fixed this on my side. The situation was like this:
[code]

So zsh follows LC_NUMERIC and LC_ALL when formatting the numbers. I'm switching to `LC_NUMERIC=C`. This resolves my problem, but maybe it's worth documenting. Also I'm really not sure how `rupa/z` behaves at this case, as I didn't try it.

[2019-01-10 03:55] agkozak commented on #3
Thanks so much for your research! You've helped me to improve my script.

I've decided to use the period as the decimal separator in all locales -- it's important if I want ZSH-z to continue to be a drop-in replacement for `rupa/z`. So now you shouldn't need to use an alias. Let me know if you run into any other problems.

[2019-01-10 03:55] #3 closed

[2019-02-07 18:54] ashtonlance opened #4 "Import database from autojump?"
Is it possible to import my existing autojump database into zsh-z?

[2019-02-07 20:11] agkozak commented on #4
I have not used `autojump` more than once or twice, but I've tried to create a utility for you to use; perhaps you can help me finish it? It's located here: [jumpstart-z](https://github.com/agkozak/jumpstart-z)

You should be able to test its output by running it on your existing autojump database:

    autojump-z /path/to/autojump.txt

What you'll see is a bunch of lines with fields delimited by

[2019-02-21 22:36] agkozak commented on #4
@ashtonlance Did my tool help?

[2019-07-01 12:08] piegamesde opened #5 "ZSHZ_NO_RESOLVE_SYMLINKS does not work"
I set `export ZSHZ_NO_RESOLVE_SYMLINKS=1` in my `.zshrc`, but when I cd into a symlink, it still adds the path behind the symlink to the history and not the symlink itself.

[2019-07-01 17:19] agkozak commented on #5
That's funny -- it works for me. What operating system are you using? Thanks!

[2019-07-02 11:24] piegamesde commented on #5
I'm on Arch Linux. I installed `zsh-z` simply by adding the `z` plugin to my `~/.zshrc`.

[2019-07-02 14:19] agkozak commented on #5
Let me describe what it looks like when I say it works for me, and perhaps you can tell me how things differ on your system.

I create a directory `realdirectory` and `cd` in and out of it to add it to the zsh-z database:

    cd ~
    mkdir realdirectory
    cd realdirectory
    cd ..

If I type

    z reald<TAB>

It should fill in

    z /path/to/realdirectory

for me.

Now I'll create a symlink

[2019-07-02 16:25] piegamesde commented on #5
That's where our experiences diverge. I executed exactly the same commands, and `z -l` contains `~/realdirectory` but not `~/symlink`. If I remove `~/realdirectory` and `cd` into `symlink`, it will still add `~/realdirectory` to the history.

[2019-07-02 16:35] agkozak commented on #5
Got it. I'll give this some thought and play around with it in Arch.

Could you

    echo $ZSHZ_NO_RESOLVE_SYMLINKS

just to be certain sure that it's been set to `1`? It's acting as if that hasn't happened for some reason.

Did you use to use `rupa/z`? Is `$_Z_NO_RESOLVE_SYMLINKS` set in your `.zshrc`? It shouldn't matter, but perhaps it's worth asking.

[2019-07-02 16:55] agkozak commented on #5
And could you check one very important thing? With `ZSHZ_NO_RESOLVE_SYMLINKS` set to `1`, type

    which _zshz_precmd

The output should be

    _zshz_precmd () {
            (( ! ZSHZ[directory_removed] )) && (
                    zshz --add "${PWD:a}" &
            )
            : $RANDOM
    }

`${PWD:a}` is what we're looking for. If it's `${PWD:A}`, that's the problem. Thanks!

[2019-07-02 18:17] piegamesde commented on #5
[code]

[2019-07-02 18:30] agkozak commented on #5
Wow! That's probably our problem. Without `_zshz_precmd`, nothing new gets added to your `~/.z` database at all.

Could you try

    echo $precmd_functions

for me? I want to see if the hook is being added, just so I can see how badly this thing is misfiring.

[2019-07-03 06:04] piegamesde commented on #5
[code]

If nothing gets added at all, how does it still work for non-symlinks then?

[2019-07-03 12:18] agkozak commented on #5
Since you've got the `_z_precmd` hook and you don't have `_zshz_precmd`, I'm going to conclude that you're still running the old `z`, not `zsh-z`. You might want to check your `.zshrc` carefully to see why that is. If you want to share it, I'll be happy to take a look.

[2019-07-04 18:24] piegamesde commented on #5
I was indeed running `z` instead of `zsh-z`. After following the installation instructions, it now works as intended. Sorry for wasting your time.

[2019-07-04 18:24] #5 closed

[2019-07-04 19:14] agkozak commented on #5
No problem at all! It was actually good for me to go through the steps of discovering the source of the confusion -- I suspect I'll run into this situation again, and I'll know what to look for next time. Be well!

[2019-10-07 21:01] Tmplt opened #8 "compinit takes ~2s"
With `zsh 5.7.1 (x86_64-pc-linux-gnu)` zsh takes ~2s to source a `~/.zshrc` containing
[code]
No framework is used and `~/.z` contains two lines.

[2019-10-07 21:50] agkozak commented on #8
On my Ubuntu laptop, if I reduce my `.zshrc` to

    typeset -F SECONDS=0
    source '/path/to/zsh-z/zsh-z.plugin.zsh'
    autoload -U compinit && compinit
    echo "Loaded in ${$(( SECONDS * 1000 ))%.*}ms."

it loads in about 300ms.

I'd like to help you, but I'll probably need to know more about your system. Plus, check to see if you have a `.zshenv` or a `.zprofile` -- those could be loading so

[2019-10-08 12:10] Tmplt commented on #8
I'm using NixOS, and had forgotten about the `programs.zsh.enableCompletion = true` in my system configuration which adds a `autoload -U compinit && compinit` to the system-wise `zshrc` unless `enableGlobalCompInit = false`. An oversight on my part; pardon the noise.

[2019-10-08 12:10] #8 closed

[2019-11-21 08:06] mrteera opened #9 "How to load zsh-z into Prezto?"
How to load zsh-z into Prezto? It would be insert into this file `.zpreztorc`. But I don't know the plugin name in Prezto.

[2019-11-21 14:58] agkozak commented on #9
Clone my repository to your `~/.zprezto/modules` directory, e.g.

    git clone https://github.com/agkozak/zsh-z.git "${ZDOTDIR:-$HOME}/.zprezto/modules"

Then, at the top of your `~/.zpreztorc` file, there should be a section that looks like this:

    zstyle ':prezto:load' pmodule \
        'environment' \
        'terminal' \
        'editor' \
        'history' \
        'directory' \

[2019-11-21 22:06] agkozak commented on #9
I've done a little research and written up [instructions](https://github.com/agkozak/zsh-z#for-prezto-users) for how to install `zsh-z` on `prezto`.

[2019-11-21 22:06] #9 closed

[2020-01-04 17:59] hirakujira opened #11 "Conflicts with RVM"
I installed RVM and source it in .zshrc like `source /usr/local/rvm/scripts/rvm`, and when I use zsh-z (command like `z etc`), it shows error like this:

[code]

I think maybe zsh-z is conflict with RVM?

[2020-01-04 18:05] agkozak commented on #11
Something is causing `setopt WARN_CREATE_GLOBAL` to run. Could you try typing `setopt` at the command line? One of the options it prints out should be `warncreateglobal`.

Also, is it possible to post your `.zshrc`? I'll be happy to try to identify the source of the problem.

[2020-01-04 18:16] agkozak commented on #11
I've tried sourcing the `initialize` script myself, and I do not get that result. I think something else is setting `WARN_CREATE_GLOBAL`.

[2020-01-05 13:03] hirakujira commented on #11
Thanks for the reply, I tried to type `setopt` but there's no `warncreateglobal`

This is my .zshrc
[code]

BTW, the `z` plugin doesn't have this issue.

[2020-01-05 15:28] agkozak commented on #11
OK, I'm trying it out on Ubuntu 18.04, but I'm not getting your results.

As a diagnostic measure, could you go into the directory containing zsh-z, open `zsh-z.plugin.zsh`, and edit out line [506](https://github.com/agkozak/zsh-z/blob/be54181eb2a608ef544859aa66914fa142fa2425/zsh-z.plugin.zsh#L506), which says `setopt LOCAL_OPTIONS WARN_CREATE_GLOBAL`? It really shouldn't affect anything outside o

[2020-01-05 15:58] etiktin commented on #11
I'm also seeing this issue, but in my case it's with [virtualenvwrapper](https://virtualenvwrapper.readthedocs.io/en/latest/index.html). For example:
[code]
The workon_cwd function comes from the virtualenvwrapper plugin in oh-my-zsh:
https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/virtualenvwrapper/virtualenvwrapper.plugin.zsh

Note that I also don't have warncreateglobal in my setopt outp

[2020-01-05 16:08] agkozak commented on #11
@hirakujira @etiktin Did this problem only start recently? Try going to the zsh-z plugin directory and run

    git checkout 6767a0fb4d

to get an older version of the plugin. Restart the shell, and see if the problem persists.

[2020-01-05 16:28] hirakujira commented on #11
Comment out `setopt LOCAL_OPTIONS WARN_CREATE_GLOBAL` fixes this issue.

[2020-01-05 16:54] agkozak commented on #11
@hirakujira Thanks for confirming that. I’ll release a fixed version of the plugin in a few hours when I get home.

[2020-01-05 18:23] etiktin commented on #11
@agkozak going back to `6767a0fb4d` fixes the issue.

[2020-01-05 22:09] agkozak commented on #11
@hirakujira @etiktin OK, it's safe to switch back to the `master` branch and run a `git pull`. I've made those debugging options conditional on an environmental variable being set, so they shouldn't give you any more trouble.

Normally, `setopt LOCAL_OPTIONS WARN_CREATE_GLOBAL` only affects the function it's in and the functions that function calls. For some reason that I can't comprehend clearly

[2020-01-06 10:22] etiktin commented on #11
@agkozak, I pulled the changes. It works. Thanks!

[2020-01-06 15:43] #11 closed

[2020-01-08 21:22] zachriggle opened #12 "Benefits over z.sh?"
I see a few *Improvements and Fixes* at the end of the readme, but it's not clear to me as an end-user why I would use `zsh-z` over `z.sh`?

Is it more performant?

[2020-01-09 17:19] agkozak commented on #12
Thanks for the question. I can see it's time for me to update the documentation.

Yes, performance should probably be the biggest draw. Not having to use all those external commands (`awk`, `sed`, `date` -- actually, I just got rid of the need for `mv`, `rm`, and `chmod`!) and being able to cut down on subshells really speeds things up.

I like to test things out on a slow system where the speed d

[2020-01-12 15:20] gshanbhag525 opened #13 "z command stops working after running zsh as root"
After starting a shell with root and run some cd commands, z stops working when switching back to normal user.

To Reproduce
`$ sudo -s`
`$ cd /tmp`
`$ cd /usr`
`$ exit`
`$ z tmp`

Expected behavior
z should continue to work and current dir should be changed to /usr.

Screenshots or recordings

System:

- OS: macOS 10.14.6
- Zsh version 5.7.1
- Terminal emulator [e.g. iTerm2]

People using ohmyzsh

[2020-01-12 16:02] agkozak commented on #13
We can definitely make it work.

Try putting

    ZSHZ_OWNER=yourusername

in your `.zshrc` and then run `sudo -s`. Try the same series of commands and see if it all works. Setting `ZSH_OWNER` causes `zsh-z` to `chown` your `.z` database file back to being yours -- otherwise, as you found out, it necessarily belongs to `root`, which is not desirable!

If for any reason that doesn't work, I'll have

[2020-01-13 16:02] gshanbhag525 commented on #13
it works, After putting this line in .zshrc.
`ZSHZ_OWNER=yourusername`.
The z works in both user and sudo env.

The setting up of the variable will work for rupa/z and omyzsh/z plugin too....Or is it just for your repo ?

[2020-01-13 17:37] agkozak commented on #13
`ZSHZ_OWNER` only works for `zsh-z`, but `_Z_OWNER` should work for all three.

[2020-01-13 18:49] #13 closed

[2020-02-10 15:31] piegamesde opened #14 "Don't z into subdirectories"
Assume I have a directory structure like:

[code]

`/foo` is my main folder from which I cd into `bar` and `baz` on a regular basis. When I run `z foo`, it will now jump me to `/foo/bar` since it is the folder I currently use the most. But I find this counter-intuitive and would prefer to land in `/foo`.

A solution to this is to only match the actual directory's name, ignoring all of the parent d

[2020-02-11 16:16] agkozak commented on #14
You're right -- I think that *is* how it should work. I'll have a fix ready soon.

[2020-02-11 16:32] agkozak commented on #14
Would you like to try out the changes I made on the `develop` branch? If what I've done works, I can merge them to `master`.

[2020-02-12 21:23] piegamesde commented on #14
@agkozak Thank you for your work. Is there a way to know if I'm running the correct `z` version, because I (think I) switched to the `develop` branch and don't notice any difference. Does the change apply to existing database entries or shall I test this with previously unseen folders?

[2020-02-13 15:27] agkozak commented on #14
Make sure, after running

    git checkout develop

to run

    git pull

That will bring you up to the latest version. If you run

    git log

You'll see that on Feb 11, I made a commit named

    1792063854f3122e49b8de67578dc4ddf6ad8ca7
    More desirable behavior from _zsh_find_common_root

That's the one you need.

[2020-02-13 20:55] piegamesde commented on #14
Then it's not working. Don't know if related, when I run `source .oh-my-zsh/custom/plugins/zsh-z/zsh-z.plugin.zsh` I get `.oh-my-zsh/custom/plugins/zsh-z/zsh-z.plugin.zsh:173: parse error near '}'`

[2020-02-13 21:24] agkozak commented on #14
That's very strange.

Let's make sure you're really using the latest version. You can copy and paste the following

    rm -rf "$HOME/.oh-my-zsh/custom/plugins/zsh-z"
    git clone https://github.com/agkozak/zsh-z "$HOME/.oh-my-zsh/custom/plugins/zsh-z"
    cd "$HOME/.oh-my-zsh/custom/plugins/zsh-z"
    git checkout develop
    zsh

Give it a try. If you're still having trouble, let me know what h

[2020-02-13 21:27] piegamesde commented on #14
Still not working. Version is `5.7.1` and kernel is `Linux 5.5.2-arch1-1 #1 SMP PREEMPT Tue, 04 Feb 2020 18:56:18 +0000 x86_64 GNU/Linux`

[2020-02-13 21:37] agkozak commented on #14
When you say it's not working, do you mean that the original problem has not been fixed, or that every time you load the shell you see

    .oh-my-zsh/custom/plugins/zsh-z/zsh-z.plugin.zsh:173: parse error near '}'

[2020-02-13 21:40] piegamesde commented on #14
The original problem has not been fixed. I only get that error when I manually source the file as per the installation instructions (instead of loading it through oh-my-zsh)

[2020-02-13 21:55] agkozak commented on #14
I'm not sure where to go from here. I'm also running `zsh` v5.7.1 on multiple machines, and I can load the plugin with a framework *and* source directly. I've even got it working with `oh-my-zsh` on one machine.

Just so we make absolutely sure that your script is intact -- can you open `zsh-z.plugin.zsh` and tell me what line 342 says?

[2020-02-13 21:58] piegamesde commented on #14
`     [[ $x != $short* ]] && return`

[2020-02-13 21:59] agkozak commented on #14
OK. That's exactly what it should be. I'll try to think what else could possibly be going wrong.

[2020-02-13 22:06] agkozak commented on #14
Could you post your `.zshrc`? I just want to see if you're using any aliases or things like that that could be interacting with the code.

[2020-02-13 22:31] piegamesde commented on #14
[code]

[2020-02-13 22:48] agkozak commented on #14
OK. I've found it. I recommend that you come up with another name for your alias `done`; that's an important part of a number of `zsh` control structures, and you're going to run into countless problems if you leave it the way it is. The reason `zsh-z` was loading successfully with `oh-my-zsh` was that the sourcing of `zsh-z` was occurring before the alias was being defined. Once it's defined, `zs

[2020-02-13 22:55] agkozak commented on #14
Note: I mangled the instructions for the experiment in the last post, but I've updated them. `z foo` should get you into `/foo`, even if `/foo/bar` is ranked higher. `z bar` will take you into `/foo/bar`. I need to drink more coffee.

[2020-02-13 23:02] piegamesde commented on #14
It still doesn't really work. When I do `z -l $FOLDER` I get a long list where `$FOLDER` is somewhere at the middle. When I then to `z $FOLDER` I'll end up in one of its subdirectories.

However, I noticed that `z -l` sometimes prints with `common: $FOLDER` as a first line. If this is the case, it will work as I'd like it to be. But it doesn't do that all the time.

[2020-02-13 23:41] agkozak commented on #14
Yes, that's how it's supposed to work right now (thanks for catching the bug), and that's how the original `z` script works. If all of the matches start with a common string, e.g.

    /home/me/foo
    /home/me/foo/a
    /home/me/foo/b

`/home/me/foo` is what they have in common, and that's where `zsh-z` takes you. If you throw in

    /foo

then `z foo` has a match that isn't in common with all t

[2020-02-14 00:16] agkozak commented on #14
It occurs to me that I might be able to improve on the current behavior. Give me a few days, and perhaps I'll have something for you to try out.

[2020-02-14 12:20] piegamesde commented on #14
Honestly, I don't really care if `/foo` is chosen over `/home/me/foo` or not. My problem is that – following your example – I type `z foo` and end up in `/home/me/foo/a` (because I use that folder really often).

[2020-02-14 15:07] agkozak commented on #14
Yes, I see what you mean. I'll work on this for a few days and see what I can come up with.

[2020-02-14 15:25] piegamesde commented on #14
Thank you

[2020-02-25 23:23] keybits opened #15 "Fantasic script, works great with zimfw"
Thanks for your work on this. I've selected it over z, autojump and pazi.

I'm using [zimfw](https://github.com/zimfw/zimfw) and zsh-z works great by cloning into `.zimfw/modules/zsh-z` and then enabling it as a module in `.zimrc`.

I did need to add `autoload -U compinit && compinit` to `.zshrc` for tab autocompletion.

Your delightfully helpful approach on the few issues I saw here was the clinc

[2020-02-26 00:15] mihai-dinu opened #16 "Tab completion not working"
Hello! First off, thank you so much for the plugin, it's awesome!

Secondly, I'm running a bare bones zsh with just a `.zshrc` file that I've created and for some reason tab completion does not work with `z`.

This is the contents of the `.zshrc`
[code]

Contents of `z -l`:
[code]

When I type `z tm<TAB>`, i don't get the path expanded to `/private/tmp`.

Am i doing anything wrong?

[2020-02-26 00:46] agkozak commented on #16
Try putting

    autoload -Uz compinit
    compinit

after

    source $ZSH_PLUGIN_DIR/zsh-z/zsh-z.plugin.zsh

Let me know if that helps!

[2020-02-26 00:49] mihai-dinu commented on #16
That was it. Did not know that the order mattered.

Thank you for the help and again for the awesome plugin!

[2020-02-26 04:41] agkozak commented on #16
No problem. Enjoy!

[2020-02-26 04:41] #16 closed

[2020-03-10 19:05] agkozak commented on #15
Thank you so much for you kind words. I'll make a point of including instructions for how to use zsh-z with Zim.

[2020-03-10 19:16] agkozak commented on #15
Done! Thanks again for your encouragement and for helping to make zsh-z better.

[2020-03-10 19:16] #15 closed

[2020-03-10 19:40] agkozak commented on #12
I have updated the [documentation](https://github.com/agkozak/zsh-z/blob/058de47f1f3f6bc1c19430eebf1219c75344625f/README.md) to reflect my comments here. I will try to improve this "marketing" aspect of the project as I move along. Thank you for helping to improve ZSH-z

[2020-03-10 19:40] #12 closed

[2020-03-11 14:28] nasyxx opened #17 "zshz:68: bad math expression: illegal character: ^["
It seems there is something wrong with it.

[code]

[code]

[2020-03-11 14:40] agkozak commented on #17
Could you post your `.zshrc`? I often find that is the best first step. Thanks.

[2020-03-11 14:43] nasyxx commented on #17
Here is it:

https://gist.github.com/nasyxx/4d61483bb97c4e54bfc313000e40436b

[2020-03-11 14:57] agkozak commented on #17
Thanks. Try commenting out or removing

    zinit ice wait"2"
    zinit light zpm-zsh/colors

Let me know if that fixes the problem. Then we can try to figure out what's really going wrong.

[2020-03-11 15:03] nasyxx commented on #17
Hi, it fixed the problem.  Interesting.

[2020-03-11 15:15] agkozak commented on #17
Give me a few more minutes and I'll have a fix for you.

[2020-03-11 15:16] nasyxx commented on #17
Thank you very much!

[2020-03-11 15:19] agkozak commented on #17
Try downloading the latest version. It should work for you.

[2020-03-11 15:21] nasyxx commented on #17
Thanks!  It works!

[2020-03-11 15:21] #17 closed

[2020-03-11 15:22] agkozak commented on #17
`zpm-zsh/colors` has a global variable `$c`, and the math expression `(( $+opts[-c] )) was being interpreted as having something to do with it. Because `colors` uses escape sequences, you were seeing error messages having to do with the Escape character, which is displayed as `^[`.

I replaced the math expression with a normal `[[...]]` test. It should do the same thing, and we won't have conflict

[2020-03-11 19:04] agkozak commented on #14
I'm still working on this -- I haven't forgotten. Be well.

[2020-03-15 15:08] wych42 commented on #4
@agkozak this works for migrating from fasd, simply rename ~/.fasd as ~/.z on first install zsh-z, if not run `cat ~/.fasd >> ~/.z`

[2020-03-16 13:20] ashtonlance commented on #4
@agkozak It worked perfectly! Thanks.

[2020-03-21 17:28] Thiago4532 opened #18 "Not working on Arch Linux"
z plugin stopped working on my zsh. When I type "zsh -e directory" it prints nothing and z command is working like cd command. I can't jump to a specific folder using it.

[2020-03-21 18:05] agkozak commented on #18
Try

    cat ~/.z

and see what it prints out.

Also, could you post your `.zshrc`? Thanks.

[2020-03-21 22:29] Thiago4532 commented on #18
I solved. I deleted the .z  file and started to work again. I'll try to discover why my .z file was not working before..

[2020-03-21 22:32] Thiago4532 commented on #18
Ok. I don't know what's happening, but it's working now, thanks!! :D

[2020-03-21 22:32] #18 closed

[2020-04-12 15:15] piegamesde commented on #14
Friendly ping

[2020-04-12 16:05] agkozak commented on #14
Thanks!

OK. I *think* I've come up with a very simple solution to our problem. It's on the `no-subdirectories` branch. Could you switch to that and see if it works for you?

[2020-04-12 16:07] agkozak commented on #14
I think I just improved it further. Give it another pull, if you've downloaded it already.

[2020-04-12 16:18] piegamesde commented on #14
Thank you a lot. I'll need to test it more over time, but it already works great for my use cases.

[2020-04-14 16:03] agkozak commented on #14
I just found a special case. My home directory is often `/home/agkozak`, but the projects I work on are naturally often like `/home/agkozak/.zinit/plugins/agkozak---agkozak-zsh-prompt` . If I type `z agk`, I definitely want to go to one of my projects, and not to the home directory, so I've introduced a little logic to work around that happening. I think in general these `z`-type utilities don't t

[2020-04-14 19:04] piegamesde commented on #14
Yeah, this is a general problem with paths that contain multiple folders with the same name. It's not a big issue to me, but it's sensible to at least add an edge case for the home directory.

[2020-05-07 09:22] peterjuras commented on #14
First of all I want to say thanks for providing this plugin, it's really great! 🎉

I'm working with the `no-subdirectories` branch and it works well so far. However, I would have a question whether you would be open to prioritize exact matches over the common root path if it is provided.

Maybe this is better explained with an example:

[code]

The above output shows the directory listing for the

[2020-05-07 16:28] agkozak commented on #14
@peterjuras You're exactly right, and thanks for putting it so clearly. That is how it will work eventually. What I've got in place right now is just a stopgap until I code it properly.

[2020-05-07 21:17] agkozak commented on #14
I have just rewritten the new routine so that it drops path elements from the right until doing so would change the number of times the search pattern appears in the best match. If the best match is (as in @peterjuras's example)

    /Users/juras/src/private/coat-dev/coat/packages/cli

then `z coat` should take you to `/Users/juras/src/private/coat-dev/coat`, not `/Users/juras/src/private/coat-dev

[2020-05-15 10:22] therealmaxmoon opened #19 "z overwrites symlinks"
I keep important dotfiles in a git repository and link to them from my home directory, like

`ln -s ~/my_git_repos/dotfiles/.z ~/.z`

The database gets always overwritten by z every time it is executed successfully.

It would be nice if z could follow symlinks instead of overwriting them.

[2020-05-15 15:01] agkozak commented on #19
You're write - it should work that way, but there's a bug. I'll fix it.

In the meantime, if you set `ZSHZ_DATA="$HOME/my_git_repos/dotfiles/.z"`, that should fix your problem.

I'll let you know when I've fixed the bug.

[2020-05-22 22:51] piegamesde opened #20 "Make it XDG compliant"
Making the extension XDG compliant should be pretty straightforward: Simply replace `local datafile=${ZSHZ_DATA:-${_Z_DATA:-${HOME}/.z}}` with `local datafile=${ZSHZ_DATA:-${_Z_DATA:-${XDG_DATA_HOME:-$HOME/.local/share}/zsh/z}}` (not tested).

Implementing it in a backwards-compatible way is a bit less straightforward though: The *default file path* case needs to check the legacy location in home

[2020-05-26 16:35] piegamesde opened #21 "z consumes CPU and does not work on the experimental no-subdirectories branch"
Sometimes, z doesn't really work. It will burn through one CPU core doing things, without actually entering the directory. The interesting thing is, that `z -l` does not have this problem and instantly lists me the results. `z -e` suffers from the problem again. It also depends on the used query. I don't know if it ever terminates when the bug occurs, the longest I've tried was about half an hour.

[2020-05-26 16:47] agkozak commented on #21
Interesting. I ran into that problem when I was cobbling together the **(still unfinished; wait for more soon)** `no-subdirectories` branch, but I thought I had fixed it.

First, confirm that you're on the most recent commit (`f9e2d3e`).

Then, find a query that produces that result, and try to give me an idea of what's in your database for that query (use `z -l <query>`).

Thanks very much for yo

[2020-05-26 18:01] piegamesde commented on #21
Hm, that's difficult to say because I forgot to pin the version, but since the latest commit is almost three weeks ago the probability of having used an older cached version is neglectable to me.

There is only one folder displayed with `z -l` (in one of the queries that break the extensions, others may have up to a dozen). The interesting part to me is that if the query is correctly capitalized,

[2020-05-26 18:47] agkozak commented on #21
Try going to the directory where ZSH-z is kept and type

    git log

The top entry should be

    commit f9e2d3ec1d5c83c377601a0b0d12f402213155ff

and the comment should be

    Variable name; documentation

Thanks. I just want to make sure I'm not fixing something that's already been fixed.

[2020-05-26 18:50] agkozak commented on #21
Never mind. I see what you're talking about. It seems to happen, as you say, when I say

    z foo

and `/path/to/Foo` (capitalized) exists.

I'll work on this. Sorry I haven't been more active lately; I need new eyeglasses, and the pandemic lockdown is getting in the way of their being made.

[2020-05-26 21:12] agkozak commented on #21
OK. I think I've got it working for case-insensitive queries again. Give the latest commit to `no-subdirectories` a try. Let me know if it works for you.

(I'm also circumventing the "go to a common root" behavior on this branch, since we probably don't want it. I'll explain in more detail on the page for the original feature request. Eventually I'll probably package all of this up as an optional

[2020-05-26 21:36] piegamesde commented on #21
Works for me, thank you.

[2020-05-26 21:36] #21 closed

[2020-05-26 21:58] agkozak commented on #21
Thank you for your help!

[2020-06-25 20:51] angelod1as opened #22 "_zshz_update_datafile:37: division by zero"
I installed zsh-z using oh-my-zsh and after each command the following line appeared:

[code]

I tried using zinit and it kept appearing.

When I removed `zsh-z` from my `.zshrc`, this repeating line stopped appearing.

My `.zshrc`:

[code]

[2020-06-26 15:27] agkozak commented on #22
OK. Thanks for supplying your `.zshrc` -- that makes my job easier!

I added `zinit light agkozak/zsh-z`, installed `colorls` and `yarn`, and commented out `source $ZSH/oh-my-zsh.sh`. No problems.

I use a fresh copy of your `.zshrc`, commented out all the `zinit` code, changed all instances of `/Users/angelodias/` to `$HOME/`, installed `powerlevel10k`, and `agkozak/zsh-z`.

What's the `http` plu

[2020-06-26 15:28] agkozak commented on #22
Also, type

     z -l

and tell me what it shows you. Thanks.

[2020-06-26 18:34] angelod1as commented on #22
If I comment `source $ZSH/oh-my-zsh.sh`, my powerlevel10k configs aren't loaded.

I'm gonna confess I have no idea what the HTTP plugin does. I might have installed it in the past because _reasons_. I removed it from my `plugins` section but the error kept happening.

Another information: I'm on Mac using iTerm2.

Log from `z -l`:

`
_zshz_find_matches:43: division by zero
0.25       /Applications

[2020-06-26 19:36] agkozak commented on #22
That makes sense. I was commenting it out because I didn't want to have `oh-my-zsh` and `zinit` running at the same time.

Yes, you can remove the whole cache simply by running

    rm ~/.z

In fact, why don't you try that and then `cd` around a bit just to see if there's something corrupt in the cache? Let me know if that makes a positive difference. Meanwhile, I'll think about this problem a bit

[2020-06-26 20:15] agkozak commented on #22
Oh, and could you tell me what happens when you type

    echo $EPOCHSECONDS

and could you type

    zmodload

and make sure `zsh/datetime` is in the list? Thanks.

[2020-06-26 21:08] angelod1as commented on #22
Cleaning the cache did it. I don't know if it's described in the docs, but I'd recommend a section about it.

I think I got it! Counting my `z -l` lines, line 37 and 43 are folders that doesn't exist anymore. Maybe this is messing up stuff, as your program searches for an unexisting path.

Anyways, just FYI, zhs version 7.7.1, epoch seconds returned me `1593205422` (which I assume is timestamp) an

[2020-06-26 21:51] agkozak commented on #22
Thanks. And I'm glad it works for you now.

[2020-06-26 21:51] #22 closed

[2020-06-27 04:39] tekumara opened #23 "Common root logic is ignored"
When there's a common root, z chooses the shortest matching directory as I expect:
[code]

However, the common root logic isn't applied in the following case, which gives the surprising behaviour of choosing the more frequent directory:
[code]

I was still expecting `/Users/tekumara/code` to win, despite the addition of the vscode directory.

FYI: rupa/z has the [same behaviour](https://github.com

[2020-06-27 19:09] agkozak commented on #23
You're quite right - that is the behavior of `rupa/z`, and since `zsh-z` is for the most part a drop-in replacement for `rupa/z`, the results should be the same.

The underlying reason is that in the second instance, where you're searching for `code` and the possible matches are

    /Users/tekumara/.vscode/extensions
    /Users/tekumara/code
    /Users/tekumara/code/setup

there is not really a c

[2020-06-27 20:08] agkozak commented on #23
Actually, I've decided that the new feature is mature enough to be on the `master` branch. So use that, but include

    ZSHZ_UNCOMMON=1

in your `.zshrc`.

[2020-06-27 20:11] agkozak commented on #14
@piegamesde @peterjuras I'm happy enough with how the new, alternate behavior works that I've merged it onto the `master` branch, so you may go back to using that, but be sure to set `ZSHZ_UNCOMMON=1` in your `.zshrc` to make it kick in.

Thanks very much, both of you, for helping to improve ZSH-z.

[2020-06-27 22:06] #14 closed

[2020-06-28 01:51] tekumara commented on #23
Thanks @agkozak I'm using `zsh-z.plugin.zsh` on master (0d1f65a) but don't see any differences in behaviour:

[code]

[code]

[2020-06-28 02:19] agkozak commented on #23
The new, alternate behavior (when you set `ZSHZ_UNCOMMON=1`) doesn't change the ranking of the possible matches. It changes where you end up if you simply type `z code`.

In your example, if you set `ZSHZ_UNCOMMON=1` and type `z code`, ZSH-z picks the highest-ranking match (`Users/tekumara/code/setup`) and drops the `/setup` subdirectory (ZSH-z will keep dropping subdirectories until it arrives at

[2020-06-28 03:03] tekumara commented on #23
OIC thanks for helping me understand! I didn't realise the new logic was applied on top of the scoring.

So as you say, with `ZSHZ_UNCOMMON=1`, then `z code` takes me to `/Users/tekumara/code` as I'd like instead of `/Users/tekumara/code/setup`.

[2020-06-28 03:15] tekumara opened #24 "`-l` updates the timestamp"
Running `z code -l` will update the timestamp of the winning `code` entry, and therefore its score, which I found surprising.

I was expecting this operation to be non-destructive because it doesn't change the current directory, unlike `z code`.

[2020-06-28 03:15] #23 closed

[2020-06-28 03:44] agkozak commented on #24
ZSH-z (like `rupa/z`) updates its database every time a prompt is drawn. The database largely represents not the directories you go to, but the directories you spend your time in the most. So running any command at all will cause the rank of the directory you are in to go up, while all the other directories in the database "age" (they grow gradually smaller).

[2020-06-28 06:34] tekumara commented on #24
Oh right I can see that when I'm in `/tmp` and run `z code -l` repeatedly, the scores for the `code` directories go down. Presumably, because I'm spending more time in `/tmp`.

[2020-06-29 09:47] phiresky opened #25 "Add option to disable removal of non-existent paths"
I have most of my data on a secondary drive. Since this drive is encrypted, it is not auto-mounted. Every time I run z while the drive is not mounted, all of my entries are removed, which makes it basically useless for the long term.

It would be great if an option to prevent removal would exist. This implementation might be enough:

[code]

[2020-06-29 20:37] agkozak commented on #25
I like your idea very much, and while I have not tried your patch yet, I am sure that it will work.

I think, however, I may try to write something a little more nuanced. Perhaps there could be an array of directories to be ignored, and ZSH-z could work normally everywhere else?  You could put `ZSHZ_DO_NOT_REMOVE=( '/mnt/d' '/mnt/portable' )` or whatever in your `.zshrc`, and ZSH-z would remove di

[2020-06-30 00:37] agkozak commented on #25
Try the `keep-dirs` branch.

All you have to do is to put an array in your `.zshrc` that contains directories you never want removed from your database, e.g.

    ZSHZ_KEEP_DIRS=( /mnt/removable_drive /mnt/usb_stick )

If you never want any directories to be removed from the database (unless you're using `z -x`), you can set

    ZSHZ_KEEP_DIRS=( / )

Let me know what you think.

[2020-06-30 04:35] agkozak commented on #25
I just refined `ZSHZ_KEEP_DIRS` a bit. Be sure to pull the latest commit.

[2020-06-30 14:27] phiresky commented on #25
thanks! i'm running that branch now, and it solves my problem :)

Actually, in my case I have the permissions of the mount point set to `000`, so if the drive is not mounted accessing `drive/foo/bar` fails with "permission denied" - I did this so some other programs that use "file not found" don't do whatever they usually do when a directory was removed, but it's not really fool proof and many app

[2020-07-08 17:58] surmish opened #26 "[Question] How do I reduce the max size of the zsh-z database file?"
I am trying to speed up my zsh prompt. I think updating zsh-z does take some time on slower machines leading to slow behavior. Does changing ZSH_MAX_SCORE help?

Also, is there an async mode for this plugin?

[2020-07-08 18:49] agkozak commented on #26
You're right -- ZSH-z naturally does take a *little* time to do its job. But to answer your last question first, ZSH-z, like the original `z.sh` itself, always runs asynchronously. The task that runs every time a prompt is drawn is

    (zshz --add "${PWD:A}" &)

The `&` causes ZSH-z to run in a background task. On a really slow system, which is to say anything that's Windows underneath (MSYS2, Cy

[2020-07-13 15:22] jonathangreen opened #27 "Completion of `-c` option not working."
The [improvements section](https://github.com/agkozak/zsh-z#improvements-and-fixes) notes that:

But the completions with these options aren't working for me. Taking a look at the completions file, it seems like [this line](https://github.com/agkozak/zsh-z/blob/master/_zshz#L56-L57):
[code]

Is stopping these completions from working. Is something wrong with my setup, or are these completions not

[2020-07-13 17:14] agkozak commented on #27
Good catch! I included that line as a stopgap while working on something else, and I forgot to get back to it.

You can comment out that line for now; I'll have the original problem fixed in a day or two and push it to `master`.

Thank you so much!

[2020-07-13 19:04] jonathangreen commented on #27
Once I commented out that line, my autocomplete works, but the command once autocompleted fails to actually change to the selected directory.

For example something like this:
[code]

When I hit tab, it completes okay, but it then won't accept that argument.

[2020-07-13 22:48] agkozak commented on #27
Thanks. I'll get to work on this.

[2020-07-13 22:52] surmish commented on #26
So I dived a little deeper and it looks like this is not an issue. I had other plugins which were taking time to load on every prompt. I will switch to a simpler prompt too.

[2020-07-13 22:52] #26 closed

[2020-07-14 15:35] agkozak commented on #27
If you try the branch `current-completion`, you'll find that I've put together a quick fix that should work for now. Let me know if it works for you.

[2020-07-15 19:04] jonathangreen commented on #27
Works great. Thanks for the quick update!

[2020-07-19 14:19] kellytrinh opened #28 "sudo zsh complains about insecure directories"
Running under WSL

The original `z.sh` works fine and I use the `_Z_OWNER={username}` option to access z when using `sudo`

Installed `zsh-z.plugin.zsh` and working fine as normal user but when I do `sudo zsh` I get the following:

[code]

a 'y' proceeds seems to work fine but I am wondering what is causing problem and now to make the error go away

[2020-07-19 19:01] agkozak commented on #28
This is a problem that is unrelated to ZSH-z, except insofar as ZSH-z uses `compinit` to do completions. Almost all completions in ZSH are done using `compinit`; you probably weren't using it before, because `z.sh` uses the now rare and very archaic `compsys` completion system.

This problem also pretty much only occurs on systems where the user's dotfiles are loaded in administrative mode (Ubuntu

[2020-07-19 19:01] #28 closed

[2020-07-20 20:21] agkozak commented on #20
Thanks for the good idea. I'm going to continue thinking about this one.

[I see that there's a proposal to have `rupa/z` do something like what you suggest.](https://github.com/rupa/z/issues/267)

If `rupa/z` goes down that path, I will, of course, mimic it -- I like having ZSH-z continue to be a drop-in replacement for it. Let's keep this issue open.

[2020-08-16 14:43] agkozak commented on #24
Yes. The idea is that if I go to `/foo` and spend a minute in it, and then I switch to `/bar` and spend a day there -- `/bar` should greatly outrank `/foo`, right?

[2020-08-16 14:43] #24 closed

[2020-08-21 22:23] MicahElliott opened #29 "Show ~ as prefix for HOME instead of absolute paths"
Just a little annoying to see:
[code]

when it could be easier to read as:

[code]

[2020-08-31 18:46] agkozak commented on #29
I agree, and I've thought of making that change in the past. I hesitate, however, because this is still a drop-in plugin for `rupa/z`, and a few other utilities use the output of `z -l` to provide completions. I'll continue to look at this issue.

[2020-09-01 18:17] voltechs commented on #29
Was looking for this! I searched for `relative` and couldn't find it (now that the word is here, hopefully it will come up for others). Would love this! I switch between a work and personal computer, and this will prevent needing to adjust for forced/different account/home names.

[2020-09-02 00:56] zachriggle opened #30 "Case-insensitive "z""
It would be nice if the standard invocation of "z" were case-insensitive.

[code]

I would assume that `z foo` takes me to `FOOa` but it does not.

[code]

There does not seem to be an option to enable this, based on my quick perusal of `zsh-z.plugin.zsh` (which is how I found out that the tab-complete is case-insensitive)

Interestingly, specifying the full name (such that there are no other matc

[2020-09-02 01:13] zachriggle commented on #30
I was able to implement this locally by switching the order of the `if/elif` that prints `_zsh_output`.  I cannot contribute a patch due to restrictions by my employer, unfortunately.

[2020-09-02 15:04] aleclarson opened #31 "Regular expression support"
Not sure to what extent the original `z` supports regular expressions, but I miss having the ability to add `$` to the end to ensure the directory ends in the given text.
[code]
The above example would go to `~/example` even if `~/example/foo` has a higher score.

[2020-09-19 01:04] agkozak commented on #31
Thank you so much for the suggestion. I apologize for not replying immediately, but I've been struggling with an eyesight problem and am only just getting used to my new glasses. Expect more activity on my part soon.

[2020-09-19 01:05] agkozak commented on #30
I have been struggling with an eyesight problem and am only just getting used to my new eyeglasses. Expect more from me soon. Thanks for your patience.

[2020-11-09 21:27] fharper commented on #30
I would love that option also!

[2020-11-10 04:55] ibnuh opened #32 "oh-my-zsh: command not found"
I followed this guide from the readme and got the following messages
[https://github.com/agkozak/zsh-z#for-oh-my-zsh-users](https://github.com/agkozak/zsh-z#for-oh-my-zsh-users)

[code]
running zsh with latest oh-my-zsh on WSL2 windows
zsh 5.8 (x86_64-ubuntu-linux-gnu)

[2020-11-10 05:14] agkozak commented on #32
`^M` represents a carriage return. Something in your setup is translating Unix-style newlines (linefeeds) into Windows-style newlines (carriage return + linefeed: CRLF).

Try typing

    cat ~/.gitconfig

Let me know what you find.

[2020-11-10 05:22] ibnuh commented on #32
[code]

Fixing the file with `dos2unix` seems to fix it
[code]

any suggestion for a permanent solution?

thank you!

[2020-11-10 05:38] agkozak commented on #32
I'm pretty sure that your `autocrlf` setting is the problem. The file on GitHub doesn't have `^M`, but your `git` is adding it.  You might try changing `autocrlf = true` to `autocrlf = false` and cloning a fresh copy of ZSH-z. Let me know if that works.

[2020-11-10 05:46] ibnuh commented on #32
I prefer to use CRLF for git because I'm on a windows machine, I don't mind converting the file everytime there is an update.

Thanks again!

[2020-11-10 08:10] #32 closed

[2020-12-02 17:42] gelpenaddict opened #33 "How do you recover from zshz divide by zero?"
[code]
show up after every command, ie ls, pwd, or just pressing enter

[2020-12-02 18:24] agkozak commented on #33
I haven't seen that problem before. Could you try

    mv ~/.z ~/.z.tmp

and see if it improves things? That would give you a fresh data file. If that helps, we can look at the old data file to see if it's been corrupted in some way. Thanks.

[2020-12-05 03:51] gelpenaddict commented on #33
Thanks, I actually got rid of that vm instance and started over but hopefully the line numbers can help shed some light.  The only other clue that might be helpful is that machine was running things in rapid succession.  Feel free to close this ticket.

[2020-12-10 20:35] ratijas commented on #30
Just for the reference.  There is such thing as a "smart case search", although you probably won't find it under that name on google.

The idea is to use case-insensitive lookup by default, falling back to case-sensitive matching only when the search term (query) contains mixed (upper- and lower-case) characters. Algorithmically speaking, it goes like this:

[code]

[2020-12-10 22:19] #4 closed

[2020-12-10 22:43] agkozak commented on #4
Great.

@wych42, thanks for the suggestion -- I've added it to the documentation.

[2020-12-10 23:24] agkozak commented on #19
@therealmaxmoon, thank you for your patience!

I have just pushed a fix to the `develop` branch. Please back up your datafile and then give that branch a try. Let me know if it fixes your problem. Thanks!

[2020-12-11 00:28] agkozak commented on #30
Thanks, everybody.

The default matching behavior of ZSH-z is what it inherited from `rupa/z`: always match case-sensitively when possible; failing that, try case-insensitively.

The behavior @zachriggle describes is that of the `ignorecase` setting familiar to those of us who use Vim. What @ratijas describes is what you get in Vim when you also `set smartcase`, and it's what I prefer myself. I th

[2020-12-11 00:41] fharper commented on #30
Wonderful, thanks @agkozak !

[2020-12-11 03:05] agkozak commented on #30
OK, I threw something together quickly on the `case` branch. Try switching to that branch.

If you set

    ZSHZ_CASE=ignore

then all pattern-matching should be case-insensitive.

If you set

    ZSHZ_CASE=smart

then patterns that are lowercase are treated case-insensitively, whereas ones that have uppercase characters in them cause case-sensitive matches to be privileged.

So with smartcase, if

[2020-12-11 09:55] ratijas commented on #20
I wonder, does it make sense anymore to wait for `rupa/z` to make the first move? Clearly, that project isn't going anywhere at this rate, and even the project owner himself admitted [he doesn't use](https://github.com/rupa/z/pull/199#issuecomment-475095563) zsh (anymore?)

[2020-12-11 18:50] agkozak commented on #20
I think @rupa has always been solely a `bash` user; he was kind enough to rewrite his code so that it would work in `zsh` as well.

I'm sure I'm not the only person who uses both `zsh` with ZSH-z and `bash` with rupa/z, and it's nice to have rupa/z use the same database in `bash` without any extra configuration. I like the idea of having a tidier home directory (which is what I think XDG primarily

[2020-12-12 05:16] agkozak commented on #30
Actually, as I play around with `ZSHZ_CASE=smart`, I'm beginning to think that, in that example, `z AU` should fail. One uses capital letters for a reason. I'll make the change tomorrow.

[2020-12-12 16:21] agkozak commented on #30
OK, I've got smartcase working more strictly now.

[2020-12-12 18:06] #27 closed

[2020-12-12 18:35] agkozak commented on #27
This feature is on the `master` branch now, so you can switch back to that. Thanks for helping to make this plugin better.

[2020-12-16 17:04] fharper commented on #30
Awesome, can't wait to try this, thanks a lot @agkozak !

[2020-12-23 07:46] agkozak commented on #19
The bug fix is now part of the `master` branch, so I'm going to close this issue, but do let me know if you need anything else.

[2020-12-23 07:46] #19 closed

[2020-12-23 07:48] agkozak commented on #25
`ZSHZ_KEEP_DIRS` is now part of the `master` branch, so I'm going to close this issue. Thank you for helping to improve this plugin.

[2020-12-23 07:48] #25 closed

[2020-12-23 07:49] agkozak commented on #30
`ZSHZ_CASE`, with the settings `ignore` and `smart`, is now part of the `master` branch. Thank you all for helping to improve this plugin.

[2020-12-23 07:49] #30 closed

[2020-12-29 20:05] palb91 opened #34 "complete_aliases breaks completion"
Hi!
I use zsh-z since a long time now, but it's just recently that I dig into a little bug: I wasn't able to have the completion for the command.
I added a dirty hack at the end of my zshrc: `compdef _zshz t` (with `ZSHZ_CMD=t`).
So I finally figured out (today) that the problem appears when `COMPLETE_ALIASES` is set.
I also discovered today that the problem was already found with #1, I think it c

[2021-01-02 03:01] agkozak commented on #34
Thanks so much for reporting in!

Yes, the behavior you describe is correct. `setopt COMPLETE_ALIASES` always divorces an alias's completion from that of the command it invokes. `z` or the contents of `$ZSHZ_CMD` (or `$_Z_CMD`) are aliases, so they're affected. Your "dirty hack," though, is completely legitimate; you're just establishing one exception to a general rule.

I agree that the documenta

[2021-01-02 03:27] #34 closed

[2021-01-17 16:34] catweazle9 opened #36 "pushdignoredups is not respected - after using 'z' duplicates appear on the dirstack"
I have the following options enabled (among others): autopushd pushdminus pushdsilent pushdtohome pushdignoredups

After using 'z', every time I visit a particular directory I see it duplicated on the dir stack (as shown by `dirs -v`). I seem to have worked around the problem by modifying zsh-z.plugin.zsh to add this line just after the zparseopts line:
setopt pushdignoredups

I don't know exactly

[2021-01-17 16:56] agkozak commented on #36
Thanks for giving so many details! I'll try to take a look into this later today.

[2021-01-17 18:21] agkozak commented on #36
I’m trying what you described, with

    setopt autopushd pushdminus pushdsilent pushdtohome pushdignoredups

both with my default setup, and after starting `zsh` in plain vanilla mode (`zsh -f`) and then sourcing ZSH-z, and I’m not seeing what you describe. I don’t see duplicates when I run `dirs -v`, and `pushdignoredups` is never disabled.

Could you post your whole `.zshrc`, or provide a link

[2021-01-17 18:50] agkozak commented on #36
Never mind -- I shouldn't have responded so quickly. I can see what you mean, and I suspect that your analysis is quite correct. Let me see what I can do. It is possible that I can do something like replacing `emulate -L zsh` with `setopt NO_KSH_ARRAYS NO_SH_WORD_SPLIT` and get the effect I want.

[2021-01-17 18:58] agkozak commented on #36
Give the ZSH-z repo another pull and see if what I’ve done fixes your problem.

[2021-01-17 19:12] catweazle9 commented on #36
Yes, that fixes it - thanks very much. So it seems the problem was triggered by `emulate -L zsh`. I wonder if that's a bug in zsh, or just a side-effect of using `emulate -L zsh`. I'm not too clear on exactly what it's supposed to do! Hopefully the new code still works the same way:
`setopt LOCAL_OPTIONS NO_KSH_ARRAYS NO_SH_WORD_SPLIT`

[2021-01-17 19:25] agkozak commented on #36
I think what's going on is that `emulate -L zsh` turns off `PUSHD_IGNORE_DUPS` at the moment that `cd` runs - but you'd figured that out yourself and deserve full credit. `setopt LOCAL_OPTIONS NO_KSH_ARRAYS NO_SH_WORD_SPLIT` is a more specific way of addressing the fact that this code does not work when the `KSH_ARRAYS` or `SH_WORD_SPLIT` options are set. I may eventually rewrite each function to

[2021-01-17 19:25] #36 closed

[2021-01-17 20:50] catweazle9 commented on #36
I can’t seem to get tab completion working. I have this line in my database:
532.62    /c/users/johnc/Desktop

.. and was hoping I could type `z esk<TAB>` to complete the above path.

Do I need any additional zsh variables to be set for this to work? I also tried first running `zsh -f` to skip my startup files and then dot-sourcing zsh-z, but I have the same problem, ie zsh just does regular file

[2021-01-17 22:58] agkozak commented on #36
That *should* work. Do post your `.zshrc` -- we'll save time that way.

[2021-01-17 23:04] agkozak commented on #36
If, after you

    source /path/to/zsh-z.plugin.zsh

you run

    autoload -U compinit && compinit

that should work. If you add

    zstyle ':completion:*' menu select

the menus look *amazing*.

[2021-01-17 23:16] catweazle9 commented on #36
The completion also doesn’t work for me when I use `zsh -f`, which skips running my .zshrc. I’m using zsh 5.5.1 on Cygwin – don’t know if that’s relevant?

I’ve attached my startup files anyway – they assume a Cygwin environment, e.g.,
  export TERM=cygwin # Seems needed here for dircolors to work
  eval `/c/cygwin64/bin/dircolors -b ~/.console_colors.txt`

These startup files all just live in my

[2021-01-17 23:53] agkozak commented on #36
Could you log in to

    https://github.com/agkozak/zsh-z/issues/36

and copy and paste the contents of your `.zshrc` there? GitHub doesn't really forward on file attachments -- I saw the contents of your `dircolors` file, but nothing else.

By the way, I half wonder if there isn't something a little bit odd about your Cygwin setup. Usually Cygwin makes the `C:` drive accessible at `/cygdrive/c/`,

[2021-01-18 00:08] catweazle9 commented on #36
Yes, my /etc/fstab contains this content to mount the C drive under /c:
`none / cygdrive binary,posix=0,user 0 0`

I've attached my startup files.
[files.zip](https://github.com/agkozak/zsh-z/files/5827073/files.zip)

[2021-01-18 00:11] catweazle9 commented on #36
OK, I’ve logged in to the issue URL and uploaded my startup files, hope that helps.

You’re right, I do configure my /etc/fstab to mount the C: drive on /c/ instead of /cygdrive/c, for convenience. I wouldn’t expect that would cause any completion problems?

How exactly does zsh-z hook into the zsh completion mechanism – wouldn’t I expect to see something related to zsh-z in .zcompdump?

    --- J

[2021-01-18 00:22] agkozak commented on #36
Well, to start with, you need to have the `_zshz` file in the same directory as `zsh-z.plugin.zsh`. It looks as if you keep the latter in your home (`~`) directory. Is `_zshz` there? That's the completion function itself.

[2021-01-18 00:32] agkozak commented on #36
And yes, in my `.zcompdump` file, there's

    '${ZSHZ_CMD:-${_Z_CMD:-z}}' '_zshz'

and

    'zshz' '_zshz'

Both of those reference `_zshz` -- make sure you've copied that file to the same directory as `zsh-z.plugin.zsh`, or completion definitely won't happen.

[2021-01-18 09:00] catweazle9 commented on #36
Ah, yes, I was missing the _zshz file, apologies for that. I didn’t clone the repo, just copied the main file after assuming there was only one.

Anyway it’s working great now after re-running ` compinit -U && compinit`.

Do you interchange use of ‘z’ and ‘ls’? If I’m in a directory and want to browse to a (new) subdirectory with completion, presumably I need to still use `ls`, since the completio

[2021-01-18 16:24] agkozak commented on #36
Yes, I could see how you might end up switching back and forth between `z` and `ls`. In my case, I use `z` a lot with directories where I known the structure very well -- since I go there all the time -- and I just don't want to have to type much of it.

[2021-02-08 11:26] levito opened #37 "Expanding directories broken since d421d84"
I'm using this on the native zsh 5.7.1 on macOS Catalina 10.15.7. See my dotfiles here for details: https://github.com/levito/dotfiles

Assuming I have a directory `~/foo/bar`, and I enter `z bar[tab]`:

Before https://github.com/agkozak/zsh-z/commit/d421d84c6923da86724c7f90d18d3bf82f14e83b, this was expanded to `~/foo/bar/` like expected. (https://github.com/rupa/z behaves the same way)

After th

[2021-02-09 04:02] agkozak commented on #37
I’m sorry to hear you’re having that problem. I’ll try to help.

Could you first confirm that you’re using the latest version? Try going to the plugin directory and typing

    git log

The latest commit is

    8eb87042639b88c7dce8d792a61cafd9c961dc0c

from January 31.

[2021-02-09 04:54] agkozak commented on #37
OK, I’m using your dotfiles, and I can see exactly what you mean. ZSH-z is actually working properly by itself, but it’s interacting badly with one or more of the other plugins. Its output must have diverged from that of `rupa/z` in some subtle way. Give me a little time, and I’ll figure this out.

[2021-02-09 05:24] agkozak commented on #37
OK, I’ve got the solution.

`rupa/z` and ZSH-z both used to use small decimal fractions for ranks. `rupa/z` switched to large integers recently because `bash` doesn’t work well with fractions. I’ve avoided swtiching to large integers because `zsh` is great with math and I prefer the way the smaller numbers look.

The commit you discovered is the correct solution. I was experimenting doing things t

[2021-02-09 05:43] agkozak commented on #37
You may also use the version on the `develop` branch for now.

[2021-02-09 08:32] levito commented on #37
Thanks a lot for taking care of this so quickly! I just checked out develop – the issue is fixed there and it seems to work perfectly fine. If I encounter any problems, I'll let you know.

[2021-02-15 07:41] levito commented on #37
Hi, I haven't had any problems so far with the change in develop. When do you plan to merge it to master?

[2021-02-15 17:01] agkozak commented on #37
It's on the `master` branch now. Thanks so much for helping to improve the plugin.

[2021-02-15 17:01] #37 closed

[2021-03-11 22:31] zachriggle opened #38 "Feature: Heavier weighting for directories which contain a .git directory"
I use zsh-z primarily to jump between various directories that are tracked as git repositories.

Occasionally, there will be a higher-'frecency' match that is a subpath of some repository, when I really want to change to a repository that matches the query.

It would be nice if zsh-z had an optional flag to prioritize directories which contain a .git directory.  This could be done at scoring time,

[2021-03-12 05:32] agkozak commented on #38
Your idea is a clever one. I’ll play around with it a bit.

In the meantime, I think you might be able to accomplish what you want by using the setting

    ZSHZ_UNCOMMON=1

It’s [an alternative way of deciding which directory to switch to](https://github.com/agkozak/zsh-z#zshz_uncommon). If you run

    z bar

and the best match is `/foo/bar/bat`, you’ll end up in `/foo/bar` because you searched

[2021-03-22 18:58] zachriggle opened #39 "Bug: Incorrect search results from `z` and `z -l`"
Today, `z` took me to the wrong directory!  It was *a* valid directory, but not the one that likely should have been selected.  I wanted the one with the score 219, I got one with a score of 4.

Removing the score-4 entry from the list reverted to correct behavior.  Not sure how I can help out to debug this (since I can't provide my `~/.z` file (it's on a work computer) but thought it was still wo

[2021-03-22 20:52] agkozak commented on #39
First, you might want to download the latest version of ZSH-z so that we can be sure that we're comparing apples to apples. I can see from the way that your ranks are displayed that you're using an older version.

Were you using a special `z` alias before?

Are you using any of the special [Settings](https://github.com/agkozak/zsh-z#settings)?

[2021-03-22 21:15] zachriggle commented on #39
I was working on a branch based on `e138de5` with minor changes (1 additional "if" statement to prefer case-insensitive matches over case-sensitive matches).  So not particularly recent, I'll re-file a bug if it happens again.

[2021-03-22 21:20] #39 closed

[2021-04-01 12:48] borekb commented on #16
@agkozak I'm a total zsh noob so could you please explain why `autoload -U compinit && compinit` has to be run explicitly? Both Oh My Zsh (which I use) or Znap (which I also use) set this automatically, I think. `zsh-z` is the only script after which I have to run `compinit` again, why is that?

[2021-04-01 14:35] agkozak commented on #16
Great question!

You should never run `compinit` more than once. It's the slowest part of `zsh`.

My documentation says

    For tab completion to work, you will want to have loaded compinit. The frameworks handle this themselves.

As soon as I've had a bit more coffee, I'll try rewriting that to say something like, "Most frameworks load `compinit` for you, but if you aren't using one, you should

[2021-04-01 15:00] borekb commented on #16
Yes, I think my problem is more specific – this is my `.zshrc` (shortened but the order is kept):

[code]

[2021-04-01 15:25] agkozak commented on #16
There's a lot going on behind the scenes in your example. `compinit` has to be run *after* `agkozak/zsh-z` is sourced, but it looks as if Oh-My-ZSH runs `compinit` itself. Without reading all the code, my guess is that `znap` can tell `compinit` has been run and does not run it again.

You can fix this problem by sourcing `agkozak/zsh-z` first, and `ohmyzsh/ohmyzsh` later. Then you don't have to c

[2021-04-01 17:33] borekb commented on #16
One more thing I wonder about: ~~what makes zsh-z special that it requires the `compinit` call~~?

Oh I just realized something that I didn't before. I have other completions like `zsh-users/zsh-completions` or one for `gcloud` utility and I thought they "don't require `compinit`". But they do, it just happened that this is the order of my `.zshrc`:

[code]

`agkozak/zsh-z` is one of the last thin

[2021-04-02 04:47] agkozak commented on #16
If you type

    which compinit

you’ll see that `znap` does something interesting: it redefines `compinit` to make it do nothing. `znap` runs the real `compinit` routine when it thinks it should. I suspect it’s trying to avoid the usual situation where people run it too many times and slow down their `zsh` startup.

[2021-04-02 06:51] borekb commented on #16
Interesting.. Also, Oh My Zsh seems to be somehow significant, I've posted a couple of examples here: https://github.com/marlonrichert/zsh-snap/discussions/61#discussioncomment-561281.

[2021-04-02 16:00] agkozak commented on #16
Thanks for showing me that thread! I think you're right about Oh-My-ZSH.

[2021-04-17 11:33] sluukkonen opened #40 "Prefer exact matches over partial ones"
Background: I have some projects, which share a common prefix, let's call them `foo` and `foo-bar`. They are located in the same parent directory.

If I type `z foo`, `z` will navigate me to `foo-bar`, since I visit it more often. But sometimes I do actually want to visit `foo`! So currently my workflow goes something like this, which isn't ideal.

[code]

If an exact directory suffix match can be

[2021-04-17 16:40] agkozak commented on #40
Try typing

    z foo/

When you want to go to `/path/to/foo`. That should get you there.

[2021-04-17 16:46] agkozak commented on #40
Of course, if there is a path like

    /path/to/foo/quux

and it ranks very highly, typing

    z foo/

will take you there, and not to

    /path/to/foo

[2021-04-17 17:29] sluukkonen commented on #40
Thank you for answering, but this doesn't seem to work on my machine. `z foo/` never finds any matches, no matter what directory I try.

 Do you need some specific configuration to make it work? I haven't changed the defaults apart from enabling `ZSHZ_UNCOMMON=1`.

[2021-04-22 17:48] agkozak commented on #40
Let me think about this for a while. Thanks for your observations.

[2021-05-04 05:43] rwtallant13 opened #41 "Broken Tab Completion"
I think my tab completion is broken. Not sure if its a problem with my zsh config or some sort of bug/error.

![zsh-z-tabcomplete](https://user-images.githubusercontent.com/10453230/116964561-5de30700-ac9b-11eb-89e1-f7cea3f023d0.gif)

here is my .zshrc if you see something that might be causing it. https://termbin.com/zp1k

[2021-05-04 15:42] agkozak commented on #41
This one's a little difficult, isn't it? Could you try something for me? It seems to work for me.

Comment out

    setopt complete_aliases

and change

    autoload -Uz compinit && compinit -C -d "$XDG_CACHE_HOME"/zsh/zcompdump-$ZSH_VERSION

to

    autoload -U compinit && compinit

That fixed it for me, though I haven't had enough coffee yet to figure out why. If it works for you, we can try to

[2021-05-04 16:44] rwtallant13 commented on #41
That fixed it for me too. I started messing around with it a bit and after deleting my old zcompdump and removing complete_aliases it seems to work fine now with the same autoload/compinit commands i was using before. Not exactly sure where the problem came from but it works now and that's good enough for me. Thanks

[2021-05-04 16:44] #41 closed

[2021-05-05 03:52] rwtallant13 opened #42 "Echo directory when switching"
z.lua which i briefly used had this option and i found it handy, would love to see this implemented here as well if possible.

[2021-05-06 06:00] agkozak commented on #42
That sounds like a great idea to me. I'll add an option. Would you be willing to help me test it out in a few days? Thanks.

[2021-05-06 14:07] rwtallant13 commented on #42
Absolutely just let me know when

[2021-05-06 20:39] agkozak commented on #42
I put a version in the `echo` branch that I think should do what you want. Just install it and set

    ZSHZ_ECHO=1

and you'll see the new paths as you switch to them.

Let me know if that is more or less what you were looking for.

[2021-05-06 20:59] rwtallant13 commented on #42
this works perfectly! exactly what i was looking for. Thank you!

[2021-05-06 21:02] agkozak commented on #42
Great. Keep using it and let me know if you see any glitches. I'll do the same; I'll let you know when I merge it to `master`.

[2021-05-06 21:06] rwtallant13 commented on #42
Will do. Thanks again.

[2021-05-06 21:10] agkozak commented on #42
We can leave this issue open till I've merged the new feature. Thanks again for contributing the good idea.

[2021-05-07 17:02] agkozak commented on #42
All right. The new feature is on the `master` branch now. You can switch to that. Thanks again.

[2021-05-07 17:02] #42 closed

[2021-05-08 23:14] agkozak commented on #29
@MicahElliott and @voltechs -

I'd like you to try out the feature you requested. It's on the [`tilde`](https://github.com/agkozak/zsh-z/tree/tilde) branch, so use that and set

    ZSHZ_TILDE=1

That should alter the display of `z -l`, `z -e`, and the new [`ZSHZ_ECHO`](https://github.com/agkozak/zsh-z#settings) output.

Let's test it a bit.

[2021-05-09 00:08] voltechs commented on #29
@agkozak awesome! I'll give it a shot next time I'm at my computer.

[2021-05-18 18:22] MicahElliott commented on #29
@agkozak Seems to be working. Thx!

[2021-05-18 21:44] voltechs commented on #29
@agkozak after some jostling, I got `z -l` and `z -e` to output with `~`, however, my `.z` file still shows full paths. Did I miss a step?

[2021-05-19 14:40] agkozak commented on #29
@voltechs I'll probably always avoid changing the database file format if I can. It's something we share with `z.sh` and other tools.

Are you actually commiting `~/.z` or its equivalent to Git and moving it from machine to machine?

[2021-05-19 15:32] voltechs commented on #29
@agkozak oh I see. Yes, I'm committing this file to git, as it's nice to have those shortcuts handy across devices. I suppose, however, that it's a small sacrifice to not have this. Ultimately, any moderate amount of use on the machine would end up generating the paths, but it would be nice to have the shortcuts present prior to specifically visiting each location on each machine. I usually keep a

[2021-05-19 16:17] agkozak commented on #29
I know what you mean. In my case, I use two systems. ZSH supplies us with the command `hash -d`, so my `.zshrc` has the lines

[code]

That way, with `setopt AUTOCD` on, I can just type `cd z` and I get to my ZSH-z directory. I use ZSH-z for its original purpose -- guessing where I want to go based on my behavior and the individual layout of each computer's directory tree. By default, ZSH-z forget

[2021-05-19 16:35] voltechs commented on #29
@agkozak that's a clever trick. My particular OCD has all my `zsh` related things in `~/.zsh/` including my `.zshrc`, `.zshenv` and my `.z` "database". This is committed in my "home git" repo, so that it transfers between systems. I probably don't need to be so OCD about it, and just not commit this file to git. Seems as this issue/proposed improvement is really just cosmetic with respect to dumpi

[2021-05-20 20:39] edobry commented on #4
hey @agkozak , I just started using `zsh-z` and this tool helped me import my `autojump` DB, worked perfectly, thanks!

[2021-05-20 22:12] agkozak commented on #4
@edobry I'm so glad to hear it. Thanks for letting me know.

[2021-05-28 03:54] zachriggle opened #44 "Declare ZSHZ_EXCLUDE_DIRS so that it can be appended to"
I have conditionals and multiple scripts (in multiple places) where I want to add entries to `ZSHZ_EXCLUDE_DIRS`.

The main script should:

[code]

So that these scripts can all just append to the array, rather than having to rely on one of them to create the array, and the others to append to it, e.g.:

[code]

So that other scripts don't need to check for its existence.

[code]

[2021-06-12 15:51] agkozak commented on #44
This is a great idea. Many thanks. I'll add the code in just a few days - I'm finishing up a huge project today and tomorrow.

[2021-06-23 14:34] voltechs commented on #29
Is [this](https://github.com/agkozak/zsh-z/tree/tilde) gonna get merged in?

[2021-06-24 15:19] agkozak commented on #29
Yes -- thanks for asking! Give me another day or two.

[2021-06-25 21:37] agkozak commented on #29
OK - the `ZSHZ_TILDE` option is now part of the main branch. Thanks, everyone.

[2021-06-25 21:37] #29 closed

[2021-06-26 22:34] frei-0xff commented on #40
I encountered the same issue. I have two directories ~/.local/src/dwm and ~/.local/src/dwmblocks. And if dwmblocks is ranked higher, I have no way to go to dwm. Typing "dwm/" doesn't work. And because of NO_EXTENDED_GLOB I can't even type something like "dwm~block".

[2021-06-27 13:48] agkozak commented on #40
May I share with you why I think this has never been a problem for me? Every once in a while I want to be able to `cd` to something using a very few characters, on any computer, no matter what the rank is. In other words, I want it to be as easy as using `z`, but not actually use `z`'s rules. I want to be able to cd to "z," for example, and end up in the ZSH-z repository, even though my name has a

[2021-06-27 14:17] agkozak commented on #44
I've made the addition on the `exclude-dirs` branch; make sure it does what you want, and I'll merge it to `master`. Thanks again.

[2021-06-27 15:05] frei-0xff commented on #40
Thank you very much for the advice, maybe I'll try it.
But for me, the main reason for using your great tool is that I don't have to manually manage some aliases or shortcuts list. And IMHO it doesn't seem right that you have no way to say that you want to navigate to `dwm`, but not to `dwmblocks`.
It would've been very logical, from my point of view, if `dwm/` worked, but unfortunately it doesn't

[2021-06-28 03:57] agkozak commented on #40
@frei-0xff Thanks for your comments and for the pull request. I'll play around with it tomorrow.

[2021-06-28 15:41] agkozak commented on #40
(I am, by the way, mystified that `z foo/` doesn't already take you guys to `/path/to/foo` already instead of `/path/to/foobar`. I recommended it because it does work on my configuration, and now I'm trying to think what could be different between our configurations that would make it not work. Just curious...)

[2021-06-28 15:46] sluukkonen commented on #40
For what it’s worth, my zsh config is available at https://github.com/sluukkonen/configs

Perhaps it could help with debugging.

[2021-06-28 15:57] agkozak commented on #40
I just tried @frei-0xff's patch, which clearly works for him but throws my shell into an endless loop. I think the main question is why `z foo/` takes me where a want to go, but it does not work for you guys. I'll want to look at configurations:

Thanks! I'll play around with it!

@frei-0xff, would you be willing to share your `.zshrc` (and any other z-dot files that might use `setopt` or anything

[2021-06-28 16:10] frei-0xff commented on #40
The reason it doesn't work on my system is because all paths in the database file `~/.z` are saved without a trailing slash.
I thought it is universal for all systems, and my patch was intended to mitigate that.
It is quite obvious that the trailing slash in the query doesn't match because there is no trailing slashes in paths from the database.

[2021-06-28 16:16] agkozak commented on #40
@frei-0xff You're right, I think. Changing the database format isn't an option, as we're meant to be compatible with [rupa/z](https://github.com/rupa/z) and all the other `z.sh` clones.

I can tell that there is something odd about my own `.zshrc` that makes `z foo/` work correctly in the first place. It isn't you guys at all. If I run `zsh -f` to achieve a semi-pristine environment, adding the sl

[2021-06-28 16:22] frei-0xff commented on #40
@agkozak Are paths in your `~/.z` saved with trailing slashes?
I just tried to run zsh with basically empty [zshrc](https://gist.github.com/frei-0xff/cba691849b7d143b32f75372d40d99e2)
and I've got the same results – no trailing slashes and `z foo/` doesn't work.

[2021-06-28 16:27] agkozak commented on #40
Our file format should be the same. This is what it looks like here:

    /c/Program Files (x86)/FireCMD/UWIN/usr|3.1809274303193553|1612038567
    /home/agkoz/foob|49|1624894619
    /c/wamp64|1.2852232041694363|1613715209
    /home/agkoz/.zbackup|3|1621910758
    /home/agkoz/Desktop/78rpmCollection1920s1930sPopularMusic/flac|3|1624470696
    /usr/lib|1.2723709721277419|1588975500

No trailing sla

[2021-06-28 16:34] frei-0xff commented on #40
@agkozak It seem very strange to me.
If it is the same path in $path_field variable (lines 574-578 of zsh-z.plugin.zsh), I don't understand how `z foo/` can work.
Because there is a trailing slash in the query but not in a path from the database, how could they match?

[2021-06-28 16:54] agkozak commented on #40
Back up your `~/.z` file and try what I put on branch `trailing-slash`. I threw it together quickly, but it should work. Basically it adds the trailing slash for internal use and removes it before the database is written.

[2021-06-28 17:40] frei-0xff commented on #40
It works for me now.

[2021-06-28 18:08] agkozak commented on #40
Great. Let's all use that branch for a few days. I want to make sure I'm not missing any edge cases before I roll out the fix to everyone.

[2021-06-28 18:37] frei-0xff commented on #40
@agkozak I have some strange behavior with counters no longer incrementing in the database.
The new ones are added, but not incremented above 1.
IMHO, the problem on line 303 of zsh-z.plugin.zsh, I think there is no need to add `/` there.
With line 303 as 
`path_field=${line%%\|*}`
Everything works fine to me.

[2021-06-28 18:43] agkozak commented on #40
Thanks for catching that problem. I should be able to fix it in just a bit; be patient.

[2021-06-28 19:04] agkozak commented on #40
@frei-0xff All right, I made the change you suggested. I also noticed some places where the script was now outputting a trailing slash; I eliminated it, as there are a number of other tools that expect ZSH-z output to follow a certain format.

Let's keep testing. I'll have more time soon to scrutinize what we've done, but it looks as if it should work.

[2021-06-28 19:44] frei-0xff commented on #40
@agkozak It seems this change was pretty invasive.
I have a bug with common root not calculated property.
I think line 412 should be
`short=${x%/}`

[2021-06-28 21:10] agkozak commented on #40
Yes, let's jettison that branch. I'm sure I can achieve the same thing a little more simply.

Give me a day -- I need the time to do this properly.

[2021-06-28 23:06] agkozak commented on #40
I take that back, actually; I think the `trailing-slash` branch may be the right approach; I just didn't have time to do it properly today.

@frei-0xff I committed your correction -- thanks!

[2021-06-29 14:04] agkozak commented on #40
Let's keep testing `trailing-slash`; with @frei-0xff's last correction, it actually seems to be doing what we want.

[2021-06-29 15:50] agkozak commented on #40
I notice that by allowing the trailing slash to denote the final element in a path, we are changing a default behavior that `rupa/z` (`z.sh`) and older ZSH-z users might expect. It used to be that if `z nts` would take you to `/path/to/Documents`, `z nts/` would take you to the highest-ranking choice under `/path/to/Documents`, e.g. `/path/to/Documents/foo`.

I might consider introducing an enviro

[2021-06-30 08:06] frei-0xff commented on #40
@agkozak There is a bug when you navigate to the root directory record with a blank path instead of `/` is added to the database. At the subsequent run, that record with a blank path is removed by the code which deleted nonexistent paths.
In my pull request I've been trying to do the same thing with adding a trailing slash to the path_field but in a less invasive manner, so it won't interfere so m

[2021-06-30 14:43] agkozak commented on #40
Your solution is more elegant, but for some reason it does not always work:

![image](https://user-images.githubusercontent.com/7599319/123980902-c3d7cc00-d976-11eb-9d02-3e6579acf8ca.png)

Let's keep playing around with it.

[2021-06-30 14:59] agkozak commented on #40
Never mind -- I had `ZSHZ_TRAILING_SLASH` off! OK, this is looking good. I'll use it all today.

[2021-06-30 15:09] agkozak commented on #40
@frei-0xff OK, I merged your changes to the `normalized-pathfield` branch, and I made [one addition](https://github.com/agkozak/zsh-z/commit/479616425dc652eb34962774ab572477013a0039). I'm just doing the same thing you're doing with the main routine for the legacy completion routine.

[2021-06-30 15:28] agkozak commented on #40
@frei-0xff [Fixed](https://github.com/agkozak/zsh-z/commit/6ac4bc474552b00e6464bf25c290505245ad073b). Thanks!

[2021-07-08 18:41] zachriggle opened #46 "Feature: "zsh-z --add" should be exposed via -h / --help"
I have a HUGE (200+) set of Git repositories that I regularly jump between.  Occasionally, I'll clone something, but not `cd` into it, so it isn't visible to `zsh-z`.  This is kind of annoying, since then I have to find it manually.

## Desired Goal

I would like to be able to do something like this:

[code]

To add all of the directories which contain a `.git` directory in them, to the `zsh-z` da

[2021-07-10 19:42] agkozak commented on #40
I have merged the new feature onto the `master` branch. Particular thanks go to @frei-0xff for writing such an elegant solution.

[2021-07-10 19:42] #40 closed

[2021-07-15 21:19] agkozak commented on #46
Thanks so much for the suggestion and for providing your use case. I'll address this matter within the next few days.

[2021-07-17 05:20] artisdom commented on #33
[code]

Encountered a similiar error,

[code]
helped fixed the error.

[2021-07-17 14:15] agkozak commented on #33
@artisdom Could you show me the contents of the `.z.tmp` file? Thanks!

[2021-07-17 22:05] artisdom commented on #33
[code]

sure, I have removed some sensitive info from the file, and noticed the last line has a different format than the other lines,
I remembered the issue started when I'm upgrading my system but the root partition is full.

Also there're quite a few tmp files in my HOME folder, not sure if it's related.
[code]
Cheers.

[2021-07-20 15:51] gelpenaddict commented on #33
@artisdom curious how did you find this ticket when the error is different? Searched for `_zshz_update_datafile`?

Unsolicited opinion but I think the the line numbers from the initial ticket details should've been enough info to make a fix rather than closing earlier :)

[2021-07-20 20:24] agkozak commented on #33
It was your suggestion that we close the ticket, @gelpenaddict.

[2021-07-20 21:14] agkozak commented on #33
@artisdom Thanks for providing your data file. It was definitely the last, incomplete line that was causing the `bad math expression`. I will write some code to handle such abnormal database entries, probably by discarding them. Of course, it would be great to know how they are being created in the first place. I'll continue to think about that.

The temporary files are an unrelated issue. One of

[2021-07-21 00:11] agkozak commented on #33
[I've got a proposed workaround on the `develop` branch](https://github.com/agkozak/zsh-z/commit/e85a29ee38000ba95b2c5914b4fe22a4ba917355).

It simply discards incomplete or incorrectly formatted datafile lines. We can test it out for a bit.

[2021-07-26 03:08] ravenxrz opened #47 "_zshz_find_matches:68: error in flags"
I installed this plugin on my mac and centos 7 manually. Both use the same config.
But mac runs perfectly, centos not, and leaves "_zshz_find_matches:68: error in flags" message on my terminal.
Any idea to fix this? Thx in advance.

[2021-07-26 15:04] agkozak commented on #47
Thanks for reporting this error.

Could you confirm for me the version of ZSH you're using on CentOS? You can find that easily by typing

    echo $ZSH_VERSION

Thanks!

[2021-07-26 15:17] agkozak commented on #47
It looks to me as if [a patch introduced a while back](https://github.com/agkozak/zsh-z/pull/43) uses a flag that only works in newer versions of ZSH. I am keen, however, to keep ZSH-z working with ZSH versions going back as far as 4.3.11, so if you give me a few days, I'll come up with a way to do the same thing without using that flag.

[2021-07-26 16:12] agkozak commented on #47
Try what I just put on the `ecaped_path_field` branch to see if it fixes your problem.

[2021-07-27 01:10] ravenxrz commented on #47
the version is 5.0.2 on CentOS.

Cool!  everything works fine now. Thank you for this amazing plugin.

[2021-07-27 17:27] agkozak commented on #47
@ravenxrz Thanks for your feedback. I have merged the changes to `master`, so you may switch back to using that.

[2021-07-27 17:27] #47 closed

[2021-07-27 17:28] agkozak commented on #33
All right. I've merged the fix to the `master` branch; you may switch back to using that. Thanks for bringing this issue to my attention.

[2021-07-27 17:28] #33 closed

[2021-07-28 11:08] OceanS2000 opened #48 "Failed to jump to path containing CJK characters"
When there are entries containing CJK characters in the database, `z -l` can list them just fine but jumping or `z -e` fails. It seems to me that multi-byte characters are corrupted somehow.

[code]

OS: Gentoo Linux
zsh version: `zsh 5.8 (x86_64-pc-linux-gnu)`
zsh-z version: a7fa3bb61c7c0b04779b3a171d8b031350790520 (current master branch)

[2021-07-28 11:25] OceanS2000 commented on #48
I found that tab completion can workaround this.

After some research I noticed `MULTIBYTE` option but the issue persists no matter whether `MULTIBYTE` is set.
Moreover, the output seems not to be just byte truncated:
[code]

[2021-07-28 15:33] agkozak commented on #48
Thanks for describing the problem so well.

I think I found the source of the problem, but it would help to have you test things out.  Could you switch to the `CJK` branch of the repository and try the code I have there?

Thanks.

[2021-07-29 04:02] OceanS2000 commented on #48
Thanks for your quick response! The `CJK` branch fixes the issue for me.

I'll close the issue for now and if more testing/information is needed feel free to @ mention me.

[2021-07-29 04:57] agkozak commented on #48
If it's all right, I'm going to keep this issue open for a little while, simply because I'm curious as to why the original code doesn't work. You don't have to do anything, although if I do write some new code, I would love it if you'd be willing to try it out. Thanks so much for drawing my attention to the problem.

Here are my observations:

In theory, in ZSH v5.3.0 and later you can `print` som

[2021-08-03 01:32] zachriggle commented on #44
Looks good to me!

[code]

[2021-08-03 03:17] zachriggle opened #49 "Feature: Prefer exact matches"
As always, thank you @agkozak for making  the pure-Zsh port of Z.

One of the things I tend to butt up against that is that the "frecency" prefers top matches over exact matches.

This might be something to hide behind a non-default environment variable setting, but currently I have:

[code]

And if I do `z git` it will go to the `shellcheck` directory.  Since `git` has an EXACT match, I'd kind of

[2021-08-03 16:22] agkozak commented on #49
Thanks so much for the kind words!

I'll put some thought into this.

[2021-08-13 08:22] AtifChy opened #50 "doesn't work with ``autocd``"
![image](https://user-images.githubusercontent.com/42291930/129327311-b02ed70b-1b74-4c3a-8803-ed94db9da4a8.png)

[2021-08-13 08:26] #50 closed

[2021-08-13 09:09] AtifChy opened #51 "zsh-z not following description format"
this is how my completion description look
![image](https://user-images.githubusercontent.com/42291930/129333591-fc14dc90-165d-48ab-99a3-12133ec1159c.png)

but with zsh-z it's just white text. It's not following my description format
![image](https://user-images.githubusercontent.com/42291930/129333741-ce6f0c00-681e-4e93-bba0-c259e70d5651.png)

my completion description format
```zstyle ':completi

[2021-08-13 14:09] agkozak commented on #51
Could you post your whole `.zshrc` or provide a link to it? Thanks.

[2021-08-13 14:15] agkozak commented on #51
That should have a `%b` in it: `zstyle ':completion:*:descriptions' format '%U%B%F{cyan}%d%f%b%u'` But that's not the problem. I'll figure this out.

[2021-08-13 17:34] AtifChy commented on #51
https://github.com/AtifChy/dotfiles/blob/main/.config/zsh/.zshrc

[2021-08-13 17:45] agkozak commented on #51
I'm on the verge of solving this. Give me just a little time.

[2021-08-13 18:08] agkozak commented on #51
@AtifChy OK. I've got a proposed fix on the `description` branch. Please give it a try and tell me if it works for you.

Thanks so much, by the way, for bringing this matter up. It gives me an opportunity to improve the plugin.

[2021-08-13 18:38] AtifChy commented on #51
it works

my pleasure

[2021-08-13 18:49] agkozak commented on #51
All right, I've merged the changes to the `master` branch, so you may switch back to that. Thanks again.

[2021-08-13 18:49] #51 closed

[2021-08-13 19:53] agkozak commented on #44
@zachriggle Thanks for the great suggestion! I'm merged this improvement to the `master` branch.

[2021-08-13 19:53] #44 closed

[2021-08-13 21:35] agkozak commented on #48
We seem to have come across [a known bug with `print -v`](https://www.zsh.org/mla/workers/2020/msg00307.html). [It has only been fixed recently](https://github.com/zsh-users/zsh/commit/b6ba74cd4eaec2b6cb515748cf1b74a19133d4a4#diff-32bbef18e126b837c87b06f11bfc61fafdaa0ed99fcb009ec53f4767e246b129). I would like to be able to use `print -v`, but in order to support the many existing versions of ZSH w

[2021-08-18 23:38] DanielFGray opened #52 "-x flag is not recursive and no option to enable it"
It seems odd to me that the `-x` flag is not recursive

I believe it would make more sense that `-x` should prune all child directories from the history, but I can also understand rationale of making it a separate switch, eg `-X` or maybe `-xR`

Thoughts?

[2021-08-21 19:10] agkozak commented on #52
It makes sense that `-x` should not *just* be recursive. But your idea is a good one. I favor `-xR`. I added that feature to the `recursive-delete` branch. Give it a try.

It strikes me, actually, that would also make sense to be able to say `z -x /path/to/foo` or `z -xR /path/to/foo`. The `-x` option that we've inherited from `rupa/z` works only on `$PWD`. Perhaps I'll fiddle with that later.

Th

[2021-08-21 19:46] agkozak commented on #52
Hold on just a bit. Some Git horror has occurred and I've lost what I was working on.

[2021-08-21 20:13] agkozak commented on #52
OK. The new feature should be on the `recursive-delete` branch now. Sorry about the wait.

[2021-08-28 16:07] agkozak commented on #52
I've added the ability to supply an argument to `z -x` and `z -xR`. Now you can prune your `.z` file without having to jump all over the place or use an editor.

[2021-08-28 16:21] agkozak commented on #52
I might add completions for `-x` and `-xR`.

[2021-09-03 21:01] zachriggle opened #53 "Fall-back directories / glob patterns"
I work with hundreds of different Git repositories, but often won't do anything in a particular repository for several months at a time.  By the time I need to `z somerepo`, it no longer exists in the `~/.z` cache of recent directories.

I've tried to remedy this with a script that `cd`'s into all subdirectories with a `.git` directory, and does `zshz --add $dir` for each one that does.

However,

[2021-09-03 23:32] agkozak commented on #53
`ZSHZ_MAX_SCORE` is supposed to address this issue, but I can see how it might be insufficient in some cases. You and I clearly use the command line a lot! I'll work on this. Thanks, as always, for your thoughtful analysis.

[2021-09-04 04:27] nzbart opened #54 "Feature request: disambiguating subdirectories"
Let me know if this already exists, but I couldn't see it in your examples.

It'd be great if we could specify fragments that match parts of the path.

Hypothetical database:
- /some/directory/with/useful/content
- /some/place/with/useful/content

Currently, I can enter `z cont<tab>` and be presented with a list to choose from. It'd be great if I could enter `z pl/cont` and have the `pl` match `pl

[2021-09-04 16:39] agkozak commented on #54
Not a bad idea at all. I’ve got `cd` working for me like that in ZSH, so why not ZSH-z?

The completion function is still very simple. I was going to do a little work on that next. Let’s leave this issue open, and I’ll make sure to address it in time.

Thank you for helping to make this plugin better.

[2021-09-16 17:27] agkozak commented on #53
@zachriggle I've just committed to the `no-age` branch a patch that makes it so that if you set `ZSHZ_MAX_SCORE=0`, it disables aging entirely. Give that a try and see if it helps.

[2021-09-23 13:40] agkozak commented on #52
I've merged the `-xR` feature to `master`. I'll work on the completions (all of them) soon.

[2021-09-23 13:40] #52 closed

[2021-09-28 18:48] nunzioc commented on #49
I think this option would be great to have but for now, you can always force an exact match by using slashes. So in this case, "z /git/" would give the correct result. In a way, this is just obvious behavior of the matching algorithm, but I thought I'd mention it here for others since it took me about a month before I noticed this

[2021-10-09 15:57] ask1234560 opened #55 "Integrating with ranger"
Hi,
I was a user of [z](https://github.com/rupa/z), thank you for creating this project.

I had created a jumper for ranger using [z](https://github.com/rupa/z), [this](https://github.com/ask1234560/ranger-zjumper). The current implementation uses  python regex for searching the pattern in the z file.

Is there any way i can use your project as standalone command in python subprocess, like `z -e d

[2021-10-09 16:37] agkozak commented on #55
(The file format is identical to that of `rupa/z`, so I think we can get your plugin working for people regardless of which shell or tool they're using.)

[2021-10-09 18:34] agkozak commented on #55
Ah, `subprocess.run()` works with the same arguments.

[2021-10-09 18:38] ask1234560 commented on #55
Thanks you,

`subprocess.check_output(['zsh', '-c', 'source /path/to/zsh-z.plugin.zsh && zshz'])`

It worked, this is exactly what i was looking for.

[2021-10-09 18:40] ask1234560 commented on #55
Is there any way to get file location of zsh-z.plugin.zsh. From environment or something.

[2021-10-09 19:10] ask1234560 commented on #55
The below one is working as expected with lesser lines of code. The only thing remaining is to dynamically find the location of zshz source file.
[code]

[2021-10-10 01:53] ask1234560 commented on #55
Yeah i was also thinking of creating a environment variable pointing to the script. Thank you for helping.

[2021-10-10 01:53] #55 closed

[2021-10-10 04:17] agkozak commented on #55
That sounds like a great idea. Good luck!

[2021-10-13 19:51] mihai-dinu commented on #16
Hi! Me again 😬

I switched laptops (still a Mac, but this time it's M1 and with Big Sur). I ended up having the same problem again. Went through the initial fix, but that doesn't seem to do it for me anymore.

Here's my `.zshrc` - i stripped it down to just this:
[code]

And the output from `setopt`:
[code]

Again, I can see the database being populated with directories, but I don't get tab comple

[2021-10-14 18:48] agkozak commented on #16
@mihai-dinu You're very welcome.

[2021-11-08 17:32] zachriggle commented on #46
Friendly 🛎️❤️

[2021-11-08 17:34] zachriggle commented on #54
This would indeed be neat!  It might be useful to have the separator be optional, e.g. `z pl/cont` as @nzbart suggested, but also as simply `z pl cont` (with spaces)

[2021-11-08 18:53] agkozak commented on #46
Thanks, @zachriggle. I think if I'm going to suggest `--add` as a feature for the general user, I may want to alter its behavior so that it can handle a relative path; right now it expects a full path. Would you agree? I'm trying to think if there is any way that could backfire.

[2021-11-08 18:59] agkozak commented on #54
Doesn't that already work? Give it a try. That's a behavior inherited from `rupa/z`; a space is replace with `*` and then expanded when you hit tab. The one problem is that whatever came before the space is still displayed as a separate thing on the command line; it doesn't affect the outcome, but it's an ugly bug. The completion system is pretty unhappy about space not being a separator of argume

[2021-11-08 19:50] zachriggle commented on #46
I think that's a good idea!

On Mon, Nov 8, 2021 at 12:53 PM Alexandros Kozák ***@***.***>
wrote:

--

*Zach Riggle*

[2021-11-08 20:52] zachriggle commented on #53
Just updated / pulled / merged with my local changes, I'll give this a go for a while and see how it goes!

[2021-11-08 23:40] zachriggle commented on #53
Looks like it works!  For some reason I had to do two passes of `z --add $PWD` for each of the directories I want, but it's now stable.

[code]

[2021-11-10 00:30] agkozak commented on #53
See if you can figure out reproducible steps to demonstrate that problem. I want to identify it and fix it.

By the way, I've updated your `no-age` branch with the new addition to the `develop` branch (the ability to `--add` relative paths), so you can keep using `no-age` and make sure it works the way you want it to.

[2021-11-11 13:14] zachriggle opened #56 "Bug/Feature: If two directories have the same score for a query, the one that matches most should win"
Since I've written a script that does `zshz --add $PWD` for all of the source code repos I have to engage with, and set `ZSHZ_MAX_SCORE=0`, `zshz` has been better than ever.

However, it has the unfortunate side-effect of moving me to the wrong directory sometimes.

Consider the following:

[code]

The current code will `cd` into `fizzbuzzkext`.  I think that `fizzbuzz1` should win here, given tha

[2021-11-11 13:15] zachriggle commented on #53
Everything's been working great!!  Thanks for adding the `ZSHZ_MAX_SCORE` / `no-age` branch.

I see no reason not to merge it to the main branch.

[2021-11-11 18:11] zachriggle opened #57 "Feature: "zshz --add $dir" should increase its rank by at least 1"
It seems like increasing the rank by at least 1 for existing directories would be a good idea.

I've got a few hundred directories tracked by zshz, many are all at score 1, and executing any number of commands in them (interactive or in a loop) doesn't seem to increase the score at all.

It would seem that doing e.g.

[code]

Should bump up the score to at least 3, but it does not :(.

[2021-11-11 18:43] agkozak commented on #57
That's a bug. Give me a little while and I'll fix it. Thanks, @zachriggle!

[2021-11-11 19:23] agkozak commented on #57
OK. Give your `no-age` branch a pull and see if that fixes it.

[2021-11-11 20:34] zachriggle commented on #57
Here's my commit history with the merge:

[code]

It doesn't look like it worked 😢

[code]

[2021-11-11 21:04] agkozak commented on #46
OK, this has been merged to `master`. Many thanks as always!

[2021-11-11 21:04] #46 closed

[2021-11-11 21:20] agkozak commented on #57
I'm a little baffled that you get such small numbers when using `z -l`; that's what I'd expect to see with `z -lr`.

Here's what it looks like on my end right now -- isn't this what you're looking for?

[![asciicast](https://asciinema.org/a/9y7B4epxylcPwKWISPb2G1qdy.svg)](https://asciinema.org/a/9y7B4epxylcPwKWISPb2G1qdy)

[2021-11-11 21:53] agkozak commented on #57
Normally, when you do `z -l`, you should see very big numbers to the left. They don't represent the rank field in the database, but rather a relationship between the rank field and the age field. A brand-new addition will be in the tens of thousands at first.

[2021-11-14 21:15] zachriggle opened #58 "Request: Please sign up for Github Sponsors"
Hey @agkozak!  It would be great if I could throw some beer money your way, in thanks for the project and fielding my enhancement requests.

I'm not sure what the process is, but there should be info at: https://github.com/sponsors

Notably, please include a $1/mo tier and a $5/mo tier, in addition to whatever else you want.

[2021-11-15 01:51] agkozak commented on #58
I did just that! What a great idea.

Let me know if it looks right to you.

[2021-11-15 03:49] zachriggle commented on #58
$25 + $5/mo headed your way.

No need for a sponsor badge, but thanks for everything!

[2021-11-15 03:49] #58 closed

[2021-11-15 05:03] agkozak commented on #58
Thanks so much - you’re fantastic!

[2021-11-16 10:14] aruiplex opened #59 "Crash after installation"
I follow the [For oh-my-zsh users](https://github.com/agkozak/zsh-z#for-oh-my-zsh-users) and then reopen the terminal, the following info displayed.

[code]

I do not know why.

Thanks in advance.

[2021-11-16 11:37] aruiplex commented on #59
After I use `dos2unix` to the process the file `zsh-z.plugin.zsh` crash gone.

[2021-11-16 15:28] agkozak commented on #59
Hi! You've probably got a case of [issue 32](https://github.com/agkozak/zsh-z/issues/32). Are you using Windows?

Type

    uname -a

at the command line and tell me what it says. Then type

    cat ~/.gitconfig

We'll work from there.

What you did to fix the problem was correct, but it was probably only temporary. Your Git configuration is probably turning my Unix-style linefeeds into Windows-st

[2021-11-17 13:30] aruiplex commented on #59
Yes, very thank you.

[2021-11-17 13:30] #59 closed

[2021-11-17 19:10] agkozak commented on #53
I hesitate to release this feature as-is. The datafile, which gets processed almost every time the prompt is drawn, could grow to be very large. On an older, slower computer, the effect is really terrible -- I played around with indexing part of the FreeBSD source on an old Windows computer. A nightmare.

Could you do me a favor sometime? Now that your `~/.z` datafile is really large, see how many

[2021-11-17 21:00] agkozak commented on #56
Wouldn't it be fair to say that the three examples have an equal number of matching characters, and that the one you want might be said to have the fewest extraneous characters?

[2021-11-21 12:25] zachriggle commented on #56
“Most Matching characters” vs “Most % matching characters” is probably a
better way to say it, but yes.

On Wed, Nov 17, 2021 at 3:00 PM Alexandros Kozák ***@***.***>
wrote:

--

*Zach Riggle*

[2021-11-21 14:38] agkozak commented on #56
OK. I'll see what I can do.

[2021-11-21 14:43] agkozak commented on #57
@zachriggle Is this working for you now?

[2021-11-22 15:14] nietaki commented on #14
I had the same problem as OP where some of my most used directories were
[code]
but running `z repos` always got me into one of the subdirectories, instead of the matching containing directory. Adding `ZSHZ_UCOMMON=1` to my `.zshrc` seems to have helped.

I'm glad I decided to look through the closed issues before raising a new one with a question :)

[2021-11-22 19:03] agkozak commented on #14
@nietaki I'm so glad you found the closed issues to be helpful - they're meant to be. I intend to rewrite the`README.md` soon to highlight some of these common questions.

[2021-12-03 17:33] silesky opened #60 "Show tilde instead of HOME during tab completions?"
Thanks for your work on this project.

Question / feature / bug?:

While `ZSHZ_TILDE=1`

I does not see a tilde when I do `z tab`:
[code]

When I do `z enter`, I see a tilde *instead of* `/Users/me`.
[code]

Is there a reason that tilde is not visible during tab completions?

[2021-12-03 23:25] agkozak commented on #60
I've got a fix for that behavior on the `tilde` branch. Would you be willing to help me test it out?

[2021-12-04 21:10] silesky commented on #60
Absolutely!

[2021-12-19 14:59] agkozak commented on #60
OK, the fix seems to work, so I've merged it to `master` and am closing this issue. Thanks for helping to make ZSH-z better!

[2021-12-19 14:59] #60 closed

[2022-01-02 11:38] eugene-reim commented on #20
I did it and it doesn't work. I added in .zshrc string ZSHZ_DATA=$HOME/.config/zsh/.zhist and it continues to use the file .z in home

[2022-01-02 14:13] agkozak commented on #20
@eugene-reim Strange -- it works for me. Would you mind posting your whole `.zshrc` so that I can try to pinpoint what's going wrong? Thanks!

[2022-01-02 14:31] eugene-reim commented on #20
Yep, sure.
[zshrc.txt](https://github.com/agkozak/zsh-z/files/7799200/zshrc.txt)

[2022-01-02 14:39] agkozak commented on #20
In line 93, you have

    plugins=(z git sudo zsh-autosuggestions zsh-syntax-highlighting)

`z` is not my plugin -- that's `rupa/z`, as packaged by Oh-My-Zsh. If you want to use my plugin, you should follow the instructions [here](https://github.com/agkozak/zsh-z#for-oh-my-zsh-users) -- you'll want to make sure that you install Zsh-z and change that line to

    plugins=(zsh-z git sudo zsh-autosug

[2022-01-02 14:41] eugene-reim commented on #20
Oh, sorry, I really didn't notice. I'll try it now, thanks.

[2022-01-02 14:46] eugene-reim commented on #20
Yeah it works! Thank you so much and happy New Year btw!

[2022-01-02 14:48] agkozak commented on #20
@eugene-reim Happy New Year!

[2022-02-09 02:09] zachriggle commented on #57
Things seem to be working better now, thanks!

[2022-02-09 02:09] #57 closed

[2022-02-09 23:11] guillaumeboehm opened #61 "Directories with spaces don't get updated correctly"
It seems that jumping into a directory containing spaces adds it to the database but doesn't update it if it is already in the database.

[2022-02-09 23:57] agkozak commented on #61
You're absolutely right. I'll fix this soon. Thanks!

[2022-02-10 00:10] agkozak commented on #61
@guillaumeboehm,

I just pushed a fix to the `develop` branch -- would you give that a pull and see if it works for you? Thanks.

[2022-02-11 03:42] agkozak commented on #61
Don't worry - I think there may be a few related problems that I'll want to fix - I'll be happy to make the changes.

But could you give me an example of the "match search" problem? If I type `z foo\ bar`, it does take me to `~/foo\ bar`.

[2022-02-11 11:31] guillaumeboehm commented on #61
You're right... I'm testing it right now and can't reproduce it either... I don't even know what I was typing when I tested it. Never mind it lol.

[2022-03-16 21:22] Pound-Hash opened #62 "Files and directories both display in autocompletions"
The `cd` command completes with:
![20220316_14h18m18s_grim](https://user-images.githubusercontent.com/51193876/158692853-5f704dab-c2c7-4518-97ff-fa55894c683f.png)

`zsh-z` completes with:
![20220316_14h20m10s_grim](https://user-images.githubusercontent.com/51193876/158692963-e9984d21-e0da-4ee6-ba1b-4a0b7a2e9f29.png)

`cd` doesn't suggest files, but `zsh-z` does.

[2022-03-17 01:34] agkozak commented on #62
I suspect that there is something in your `.zshrc` that is causing that to happen. Could you post it here? Thanks.

[2022-03-17 17:25] agkozak commented on #62
Even more likely is the possibility that you've installed [`zsh-z.plugin.zsh`](https://github.com/agkozak/zsh-z/blob/master/zsh-z.plugin.zsh) somewhere without putting [`_zshz`](https://github.com/agkozak/zsh-z/blob/master/_zshz) in the same directory. That would have the effect you describe. You need `_zshz`; it contains the completions.

[2022-03-18 00:05] Pound-Hash commented on #62
This was the fix. Thanks.

The installation of `_zshz` isn't mentioned in the README.

[2022-03-18 00:05] #62 closed

[2022-03-18 02:06] agkozak commented on #62
You’re quite right! I’ll fix that later. Thanks for helping to make the plugin better.

[2022-03-21 17:32] Pound-Hash opened #63 "Strange file created in home directory"
The variable `ZSHZ_DATA` is unset (at its default `~/.z`).

I've had `.z` in my home directory. Its contents are populated with directories.

Today a new file was created in home: `.z.19172`. It's empty.

Output of `ls -l .z*`:
[code]

[2022-03-24 19:46] agkozak commented on #63
Zsh-z follows `rupa/z` in employing temporary files like that -- `.z.` plus a random number. On rare occasions, the program gets interrupted and the temporary file is not removed.

You know what, though? There's no reason it shouldn't be keeping them in `/tmp` or `TMPDIR`. Let's leave this issue open -- in a couple of days I'll have time to make the necessary changes.

Thanks for bringing this mat

[2022-05-10 22:09] crispincornett opened #66 "Fzf Integration"
I am trying to integrate this plugin with fzf by follow the example found here:

[https://github.com/junegunn/fzf/wiki/examples#z](https://github.com/junegunn/fzf/wiki/examples#z)

However, I am getting the following error:

`z:2: command not found: _z`

Any suggestions?

[2022-05-10 22:13] crispincornett commented on #66
Whoops, looks like I just needed to replace the call to `_z` to `zshz`

Sorry about that!

[2022-05-10 22:13] #66 closed

[2022-05-19 22:56] FFdhorkin commented on #66
For anyone who finds this in the future, I believe the correct way to do this is add
`FZ_HISTORY_CD_CMD=zshz`
to your .zshrc

[2022-06-21 04:08] jesseduffield opened #68 "allow manually adding an alias for a directory"
For a while I've been using `z api` to go to my 'api' repo, however recently another path has ended up having a higher precedence and so I end up being sent to there. I would like to be able to do something like the following:
[code]

So that I'm locking the `api` string to that particular path.

Alternatively I can use a different tool to achieve this, but I feel like this functionality makes sen

[2022-06-21 16:39] agkozak commented on #68
My recommendation would be to use the Zsh builtin feature of *named directories*:

    hash -d api=/path/to/api

That way you can type

     cd ~api

And you're there. If you enable `setopt CDABLE_VARS`, you don't have to type the tilde:

    cd api

And if you enable `setopt AUTOCD`, you can just type

    api

[2022-06-21 22:40] jesseduffield commented on #68
Thanks for the quick response, I'll take that approach

[2022-06-21 22:40] #68 closed

[2022-06-29 17:40] mafredri commented on #63
One benefit for keeping the tempfiles beside `.z` is that they're very likely to be on the same filesystem which makes the `mv` atomic whereas moving from `/tmp` could result in a copy + write, at which point there's no guarantee the new write will succeed. It's pretty common for `/tmp` to be `tmpfs` (RAM) these days.

[2022-06-29 17:44] agkozak commented on #63
Thanks as always, @mafredri. You must be right.

[2022-08-30 17:12] #63 closed

[2022-09-08 21:40] alxtlm opened #70 "Feature request: Navigate up 'n' directories"
I often find myself doing commands like this
` cd ../../../../../ `

Is there a shortcut I can use that will cd ../ n times?
`z 5`

[2022-10-09 12:26] simone-viozzi commented on #70
On zsh you can do

[code]

And it will jump back 3 directories.

[2022-10-09 13:14] agkozak commented on #70
Are you using a global alias to do that, like

    alias -g ....='../../..'

?

@alxtlm, I recommend you try the [ZSH-LOVERS](https://grml.org/zsh/zsh-lovers.html) `rationalise-dot` method:

    rationalise-dot() {
        if [[ $LBUFFER = *.. ]]; then
            LBUFFER+=/..
        else
            LBUFFER+=.
        fi
    }
    zle -N rationalise-dot
    bindkey . rationalise-dot

If you put

[2022-10-09 13:45] simone-viozzi commented on #70
Yes, but I never defined them, and I thought they were defined by zsh itself. Maybe they are added by some plugin, sorry.

[2022-10-09 13:58] agkozak commented on #70
No problem! It's good for people to see that you can do that, too. Thank you.